#call-tool-analytics {
  min-width: 800px;

  h1 {
    text-align: left;
    margin-bottom: 1em;
  }

  .nav {
    margin-bottom: 24px;
  }

  .row {
    margin-bottom: 24px;
  }

  .col1 {
    max-width: 500px;
    float:left
  }

  .col2 {
    float: left;
    width: 200px;
  }

  table.totals {
    margin-top: 35px;
    margin-left: 50px;
  }

  table tr:first-of-type {
    td, th {
      border-top: none;
    }
  }

  button {
    outline: none !important;
  }
}
