
#editor {
  border: 1px solid #ddd;
  height: 300px;
  margin-bottom: 10px;
}

#toolbar {
  border: 1px solid #ddd;
  border-bottom: none;
}

span.tick::after { 
  content: "\2714";
}

span.cross:after {
  content: "\2716"
}

.page-title input {
  height: auto;
  font-size: 28px;
  width: 100%;
  padding: 5px;
  box-shadow: none;
  color: #222;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.feedback {
  float: right;
  display: inline-block;
  margin: 0;
};

.just-saved {
  visibility:hidden;
  opacity:0;
  transition:visibility 1s linear 1s, opacity 1s linear;
}

.form-footer {
  margin-bottom: 20px;
}


form .settings {
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.photo-upload {

  img {
    padding: 3px;
    border: 1px solid #ddd;
    background: white;
  }

  position: relative;

  .notice {
    position: absolute;
    color: #999;
    font-size: 30px;
    right: 100px;
    top: 55px;
  }
}


.component {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 20px 0;
}


form.plugin-setting {
  margin-bottom: 20px;
}

form.template-form {

  textarea {
    height: 400px;
    font-family: monospace;
  }

}

.field_with_errors {
  @extend .has-error;
}

.component.title:hover {
  background: #f3f3f3;
  cursor: pointer;
}


section {
  margin-top: 40px;
}

.sortable li.list-group-item {
  cursor: move;
  .sort {
    margin-right: 5px;
    .glyphicon {
      color: #ddd;
      &:active {
        color: #000;
      }
    }
  }
  &--labels-right {
    padding-right: 110px;
  }
  .secondary-label {
    opacity: 0.4;
    font-size: 12px;
    margin-left: 5px;
  }
}

li.list-group-item {
  position: relative;
  .control-bar {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px $padding-base-horizontal;

    a {
      padding-left: $padding-small-horizontal;
    }
  }
}

.action-form-item-control {
  margin-left: 5px;
}

.list-group-item span.label {
  margin-left: 5px;
}

.xhr-feedback + .label {
  margin-left: 10px;
}

.error-msg {
  color: #a94442;
  font-size: 12px;
}

input.has-error {
  border-color: #a94442;
}

.panel-footer {
  background: white;
}

.sub-menu {
  margin-bottom: 20px;
}

.submenu-horizontal {
  margin-bottom: 20px;
}

.image-thumb {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  .thumb-remove {
    background: white;
    padding: 1px;
    border-radius: 0 4px 0 0;
    position: absolute;
    top: 1px;
    right: 1px;
  }
}

#new_page .form-inline input[type='text'] {
  width: 400px;
}

.loading {
  margin: 0 5px;
  .glyphicon-refresh-animate {
      -animation: spin .7s infinite linear;
      -webkit-animation: spin2 .7s infinite linear;
  }

  @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
  }

  @keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
  }
}

.versions__changeset-removed {
  background-color: #ffecec;
  width:50%;
}

.versions__changeset-added {
  background-color: #a6f3a6;
  width:50%;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 20px;
}

.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
