
// styles for the login screen

.photo-bg {
  @include background-size(cover);
  background-color: #414141;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.photo-0 {
    background-image: url(asset-path('backgrounds/allende'));
  }
  &.photo-1 {
    background-image: url(asset-path('backgrounds/climate'));
  }
  &.photo-2 {
    background-image: url(asset-path('backgrounds/crowd'));
  }
  &.photo-3 {
    background-image: url(asset-path('backgrounds/dune'));
  }
  &.photo-4 {
    background-image: url(asset-path('backgrounds/signs'));
  }
}
.centered-overlay {
  @include clearfix();
  @include box-shadow(black 0 3px 10px);
  background: white;
  max-width: 500px;
  margin: 90px auto 0;
  padding: 20px;
  position: relative;
  padding-top: 90px;
}
