.form-element {
  position: relative;

  .control-bar {
    position: absolute;
    top: 0;
    right: 0;

    padding: $padding-base-vertical $padding-base-horizontal;

    a {
      padding-left: $padding-small-horizontal;
    }
  }

  &__choice-field {
    position: relative;
    margin-bottom: 6px;
  }
  &__remove-choice {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}
label.radio {
  padding-left: 20px;
  font-weight: normal;
}

textarea.text-area-height {
  height: 300px;
}
