.page-header.pages {
  margin-top: 10px;

  h2 {
    margin-top: 10px;
  }
}

.pages {
  .nav-tabs {
    margin-bottom: 20px;
  }
}

.page-filter {
  &__row {
    margin-bottom: 5px;
    @include legacy-pie-clearfix();
  }
  &__title {
    overflow: hidden;
    padding-bottom: 5px;
    i, span {
      margin-right: 5px;
      font-size: 20px;
    }
  }
  &__submit {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &__reset {
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
  }
}

.page-filter-form {
  margin-top: 20px
}

#pages-table .toggle-featured a {
  color: black;
}

.pagination {
  width: 100%;
  &--right {
    float: right;
  }
  &--left {
    float: left;
  }
  .pagination {
    width: auto;
    margin: 0;
  }
}
