.header-logo {
  color: white;
  padding: 20px 15px;

  &__logo {
    background-image: url(asset-path('sumofus/logo-white.png'));
    width: 150px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
  }

  &__tagline {
    float: left;
    font-size: 20px;
    line-height: 32px;
    margin-left: 15px;
  }
}