.Checkbox {
  margin: 30px 0;
  position: relative;
  display: block;
  box-sizing: border-box;

  &__label {
    font-size: 18px;
    display: block;
    margin-left: 28px;
    display: inline;
    cursor: pointer;
  }

  &__label input {
    position: absolute;
    left: 0;
    top: -3px;
    cursor: pointer;
    max-width: 16px;
    padding: 0;
  }
}
