.Checkbox {
  margin: 30px 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: left;

  &__label {
    font-size: 14px;
    display: block;
    line-height: 1.2;
    display: inline;
    cursor: pointer;
    font-weight: 400;
  }

  &__label input {
    cursor: pointer;
    max-width: 16px;
    padding: 0;
  }
}
