.SweetPhoneInput__Title {
  margin: 0.5em 1em;
  color: #555;
}

.SweetPhoneInput {
  padding-bottom: 1em;
  display: flex;

  .sweet-placeholder__field {
    border: solid 2px #dbdbdb;
  }
}

.SweetPhoneInput__CountryCode {
  width: 30%;
  flex-grow: 1;
}
.SweetPhoneInput__PhoneNumber {
  flex-grow: 1;
  margin-left: 5px;
  .sweet-placeholder {
    float: none;
  }
}
