| Click here to confirm your signature and make sure you continue to receive e-mails from SumOfUs

= link_to "Validate my signature", confirm_api_action_confirmations_url(token: @token, consented: true)
