| Haz click aquí para confirmar tu firma y asegurarte de recibir futuros correos electrónicos de SumOfUs

= link_to "Confirma mi firma", confirm_api_action_confirmations_url(token: @token, consented: true)
