| Clique aqui para confirmar sua assinatura e garantir que você continuará recebendo e-mails da SumOfUs.

= link_to "Validate my signature", confirm_api_action_confirmations_url(token: @token, consented: true)
