| Klicken Sie hier, um Ihre Unterschrift zu bestätigen und sicherzustellen, dass Sie auch weiterhin die E-Mails von Avaaz erhalten.

= link_to "Meine Unterschrift validieren", confirm_api_action_confirmations_url(token: @token, consented: true)
