| Klik hier om je handtekening te bevestigen en om ervoor te zorgen dat je emails van SumOfUs blijft ontvangen.

= link_to "Validate my signature", confirm_api_action_confirmations_url(token: @token, consented: true)
