| Cliquez ici pour valider votre signature et vous assurer de continuer à recevoir des emails de SumOfUs.

= link_to "Valider ma signature", confirm_api_action_confirmations_url(token: @token, consented: true)
