.email__target-body {
  textarea {
    height: 300px;
    font-size: 100%;
  }
}
.email-target-thanks {
  /*transform: translate(130%);*/
  background: white;
  padding: 10px;
}

.email-target.completed {
  .email-target-form {
    transform: translate(-130%);
    transition-duration: 500ms;
  }

  .email-target-thanks {
    transform: translate(-130%);
    transition-duration: 500ms;
  }
}
