.simple-footer {
  color: white;
  background: $navy;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 38px 0;
  overflow: hidden;
  border-top: 2px solid $dingy-gray;

  &--stuck-to-bottom {
    position: absolute;
    bottom: 0;
  }

  &__logo {
    float: left;
  }

  &__tagline {
    float: left;
  }

  &__license {
    color: $dingy-gray;
    float: right;
    font-size: 10px;
    padding-top: 10px;
  }

  &__license, &__tagline {
    @media(max-width: $mobile-width) {
      display: none;
    }
  }
}
