.simple-footer {
  color: white;
  background: $navy;
  width: 100%;
  height: 120px;
  padding: 38px 0;
  overflow: hidden;
  border-top: 2px solid $dingy-gray;
  @include box-sizing(border-box);

  @media(max-width: $mobile-width) {
    // the action button covers it anyway
    display: none;
  }

  &--stuck-to-bottom {
    position: absolute;
    bottom: 0;
    z-index: 300;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 150px;
  }

  &__links--stuck-to-bottom {
    float: left;
    margin: 5px 0;
  }

  &__links {
    margin: 10px 0 0;
    float: left;
    clear: left;
  }

  &__link {
    font-size: 14px;
    color: $dingy-gray;
    margin-right: 10px;
  }

  &__logo {
    float: left;
  }

  &__tagline {
    float: left;
  }

  &__license {
    color: $dingy-gray;
    float: right;
    font-size: 10px;
    padding-top: 10px;
    &--left {
      float: left;
      clear: left;
    }
  }

  &__license, &__tagline {
    @media(max-width: $mobile-width) {
      display: none;
    }
  }
}
