.form {
  &__group {
    float: left;
    width: 100%;
    margin-bottom: 5px;

    input {
      &.has-error {
        border-color: $orange;
      }
    }
    .error-msg {
      color: $orange;
      font-size: 14px;
      float: right;
    }
  }
  &--big {
    input, select, .selectize-control.single .selectize-input {
      @include rem(font-size, 1rem, true);
      @include box-sizing(border-box);
      border: 2px solid white;
      background: white;
      border-radius: 3px;
      padding: 18px;
      width: 100%;
      outline: none;
      box-shadow: none;

      &:focus, &.focus {
        border-color: $teal;
        &.dropdown-active {
          border-bottom: none;
        }
      }
    }
    select {
      height: 58px;
    }

    label.checkbox-label {
      margin: 10px 0 4px;
      font-size: 14px;
    }

    .selectize-dropdown.single {
      border: $teal 2px solid;
      border-top: none;
      .option.active {
        background-color: $teal;
        color: white;
      }
    }

    .selectize-control {
      height: 58px;
    }
  }
}

label.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  input[type='checkbox'] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }
}