.header-logo {
  padding: 20px 15px 15px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  @include clearfix();
  @include box-sizing(border-box);

  @media(max-width: $mobile-width) {
    position: absolute;
  }

  &--dark {
    color: white;

    // when the element is not --at-top, the gradient is moved up and out of the way
    // and a background color is applied.
    background-color: rgba(0,0,0,0.35);
    background-position: 0 -80px;
    background-repeat: no-repeat;
    @include transition(background-color 0.40s ease-in-out, background-position 0.20s ease-out);
    @include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)));

    &.checks-top--at-top {
      background-color: rgba(0,0,0,0);
      background-position: 0 0;
    }
  }

  &--light {
    background: none;
  }

  &__logo {
    float: left;
  }

  &__tagline {
    float: left;

    @media(max-width: $mobile-width) {
      display: none;
    }
  }
}