.sumofus-logo {
  &--negative {
    background-image: url(asset-path('sumofus/logo-white.png'));
  }
  &--positive {
    background-image: url(asset-path('sumofus/logo-positive.png'));
  }
  &--positive, &--negative {
    @include background-size(100%);
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
  }

  &--tagline {
    font-size: 20px;
    line-height: 32px;
    margin-left: 15px;
  }
}
    