.petition-bar, .fundraiser-bar {

  color: $navy;

  $padding: 26px;
  position: relative;
  z-index: 600;

  &__top {
    background: $overcast-gray;
    padding: $padding;
    overflow: visible;
    position: relative;
    min-height: 68px;
  }
  &__main {
    background: $chalk-gray;
    padding: $padding;

    position: absolute;
    @include transition(top 0.4s ease-in-out);

    width: 100%;
    @include box-sizing(border-box);
  }
  &__title-bar {
    position: absolute;
    top: -60px;
    left: 0;

    width: 100%;
    overflow: hidden;
    clip-path: url(sumofus/corner.svg#corner);
    -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    &::after {
      width: 15%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: $dark-teal;
      content: "";
    }
  }
  &__title {
    @include box-sizing(border-box);
    padding: 18px 16px;

    background: $teal;
    color: white;
  }

  &__content {
    position: relative;
  }

  &__submit-button {
    margin-top: 15px;
    float: left;
  }

  &__target {
    margin: 0 0 8px;
    @include rem(font-size, 1rem, true);
  }

  &__petition-text {
    @include rem(font-size, 0.8rem, true);
  }

  &__welcome-text {
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  &__clear-form {
    margin-top: 6px;
    display: block;
  }

  &__shading {
    @include background-image(linear-gradient(rgba($overcast-gray, 0), $overcast-gray));
    position: absolute;
    top: $padding * -1;
    left: 0;
    height: $padding;
    width: 100%;

    z-index: 20;
  }

  @media(max-width: $mobile-width) {
    position: fixed;
    @include transition(top 0.40s ease-in-out);
    width: 100%;
    padding: 0 4%;
    left: -4%;
    z-index: 400;
    margin: 0;
    height: 100%;
    overflow-y: visible;
    background: $chalk-gray;

    &.petition-bar--mobile-view--closed {
      top: 2000px;
    }
    &.petition-bar--mobile-view--open {
      top: 0;

      .petition-bar__mobile-ui__bottom-bar {
        bottom: -100px;
      }
    }

    .petition-bar__content, .fundraiser-bar__content {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__mobile-ui {

    @media(min-width: $mobile-width) {
      display: none;
    }

    &__bottom-bar {
      position: fixed;
      bottom: 0;
      left: -4%;

      padding: 20px 8%;
      height: 60px;
      width: 92%;

      text-align: center;
      background-color: $overcast-gray;
      @include transition(bottom 0.20s ease-in-out);
    }
  }

  &__close-button {
    color: $navy;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

$petition-top-height: 120px;
$fundraiser-top-height: 156px;

.petition-bar {
  &__main {
    top: $petition-top-height;
  }
  &--elevated {
    top: -1 * $petition-top-height;
  }
}
.fundraiser-bar {
  &__main {
    top: $fundraiser-top-height;
  }
  &--elevated {
    top: -1 * $fundraiser-top-height;
  }
  &__top {
    padding-bottom: 20px;
  }
}
.sticky-wrapper {
  position: relative;
  @include transition(top 0.4s ease-in-out);

  &.petition {
    top: $petition-top-height * -1;
  }
  &.fundraiser {
    top: $fundraiser-top-height * -1;
  }
  .petition-bar--elevated, .fundraiser-bar--elevated {
    @media(min-width: $mobile-width) {
      top: 0;
    }
  }
}
