.medium-photo {
  height: 250px;
  max-width: 475px;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &--translucent {
    &::after {
      opacity: 0.15;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background-size: cover;
    }
  }
}

.cover-photo {
  height: 390px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;

  &__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__titles {
    position: absolute;
    bottom: 40px;
    width: 100%;
  }
  &__target {
    &:empty {
      display: none;
    }
  }
}