{% if plugins.thermometer[ref].active %}
  <div class='thermometer'>
    <div class="thermometer__stats">
      <div class='thermometer__signatures'>
        {{ plugins.thermometer[ref].signatures }} signatures
      </div>
      <div class="thermometer__remaining">
        {{ plugins.thermometer[ref].remaining }} until {{ plugins.thermometer[ref].goal_k }}
      </div>
    </div>
    <div class="thermometer__bg">
      <div class="thermometer__mercury" style="width: {{ plugins.thermometer[ref].percentage }}%"></div>
    </div>
  </div>
{% endif %}
