.btn-group
  = button_group_item('Facebook', campaign_page_share_facebooks_path(@campaign_page))
  = button_group_item('Twitter',  campaign_page_share_twitters_path(@campaign_page) )
  = button_group_item('Email',    campaign_page_share_emails_path(@campaign_page)   )

