= form_for [page, share], remote: true, html: { class: "shares-editor__new-form #{css_class}", data: {share: share.name} }  do |f|

  = f.hidden_field :name
  = render partial: "share/#{share.name}s/share_fields", locals: { form: f, share: share }
  = f.submit 'Add share variant', class: 'btn btn-primary'
