.ExpressDonation {
  position: relative;
  margin-bottom: 20px;
}

.ExpressDonation__prompt {
  font-size: 14px;
  font-weight: bold;
}

.ExpressDonation__payment-methods {
  padding: 16px;
  padding-left: 52px;
  margin-bottom: 15px;
  border-top: 1px solid #cdcece;
  border-bottom: 1px solid #cdcece;
}

.ExpressDonation__single-item {
  .PaymentMethod {
    margin: 0 auto;
    font-weight: bold;
  }
}

.ExpressDonation__toggle {
  font-size: 12px;
  cursor: pointer;
  margin-top: 6px;
  display: block;
}

.PaymentMethod {
  margin: 10px auto;
  font-size: 14px;
}

.PaymentMethod input {
  height: 14px;
  width: 14px;
}

.PaymentMethodWrapper__icon {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 22px;
}
