{% comment %} Description: simple text page with the Bayer-Monsanto footer {% endcomment %}
{% comment %} Skip smoke tests: true {% endcomment %}

<div class="center-content">
  <div class="center-content__one-column">

    <div class="imageless-title">
      <div class="typography__highlight-wrapper">
        <h1 class="typography__highlight">
          <span>{{ title }}</span>
        </h1>
      </div>
    </div>

    <div class="body-text main-feature">
      {{ content }}

      {% unless link_list == blank %}
        <hr class="stubby-hr" />
        <h3>{{ 'page.more_info' | t }}</h3>
        {% include 'Links' %}
      {% endunless %}
    </div>
  </div>
</div>

{% include 'Baysanto Footer' %}
