<div class="center-content center-content--accommodates-stuck-footer">
  <div class="imageless-title">
    <div class="typography__highlight-wrapper">
      <h1 class="typography__highlight">
        {% if success %}
          <span> {{ 'confirmation_mailer.follow_up_page.success' | t }} </span>
        {% else %}
          <span> {{ 'confirmation_mailer.follow_up_page.failure' | t }} </span>
        {% endif %}
      </h1>
    </div>
  </div>

  <div class="body-text main-feature main-feature--close-top">
    <p> {{ errors }} </p>
    <p> {{ 'confirmation_mailer.follow_up_page.member_management_link' | t }} </p>
  </div>
</div>
