{% comment %} Description: A survey page with no branding. {% endcomment %}
{% comment %} Experimental: true {% endcomment %}

<div class="survey">
  <h1>{{ title }}</h1>
  <div class="body-text survey__intro">
    {{ content }}
  </div>
  {% include 'Survey' %}
</div>
