{% comment %} Description: A page with the call tool widget. {% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

{% include 'Full Width Header', extra_class: 'caller-header' %}

<div class="caller">
  <div class="content">
    <div class="body-text text-top">
      {{ content }}
    </div>
    {% include 'Email Target' %}

    <div class="body-text text-bottom">
      {% if plugins.call_tool[ref].active %}
        {{ plugins.call_tool[ref].description }}
      {% endif %}
    </div>
  </div>
</div>

{% include 'Simple Footer' %}
