{% comment %} Description: A page with the email tool widget. {% endcomment %}
{% comment %} Primary layout: true {% endcomment %}
{% comment %} Experimental: true {% endcomment %}

{% include 'Full Width Header'  %}

<div class="caller">
  <div class="content email-target">
    <div class="body-text text-top">
      {{ content }}
    </div>

    {% include 'Email Tool' %}
  </div>
</div>

{% include 'Simple Footer' %}
