{% comment %} Description: This demos the feature to add two of the same plugin to a page. {% endcomment %}
{% comment %} Experimental: true {% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="title">
        {{title}}
      </h2>

      <div class="text">

        <div class='gallery'>
         {% include 'Photos' %}
        </div>

        <!-- no thermometer -->

        {{content}}
      </div>
    </div>

    <div class="col-md-4">
      {% include 'Petition' %}
    </div>
  </div>
</div>

<div class="modal-overlay">
  <div class="modal-content">
    {% include 'Petition', ref: 'modal' %}
  </div>
</div>
