{% comment %} Description: A petition without an image.{% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

<div class="center-content center-content--accomodates-stuck-footer">
  <div class="center-content__big-column">

    <div class="imageless-title">
      <div class="typography__highlight-wrapper">
        <h1 class="typography__highlight">
          <span>{{ title }}</span>
        </h1>
      </div>
    </div>

    <div class="body-text main-feature main-feature--close-top">
      {{ content }}

      {% unless link_list == blank %}
        <hr class="stubby-hr" />
        <h3>{{ 'page.more_info' | t }}</h3>
        {% include 'Links' %}
      {% endunless %}
    </div>
  </div>
  <div class="center-content__fixed-right center-content--push-down">
    {% include 'Petition Sidebar', extra_class: 'stuck-right not-sticky' %}
  </div>
</div>

{% include 'Petition Mobile Footer' %}
{% include 'Small Image Footer' %}
