{% comment %} Description: The petition page with a wide cover photo.{% endcomment %}
{% comment %} Primary layout: true {% endcomment %}

<style type="text/css">
  body {
    /*background: #dbdbdb;*/
  }
</style>

<div class="survey">
  {% include 'Survey' %}
</div>

{% include 'Simple Footer' %}
