{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-regenerator",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": "> 1%",
              "uglify": true
            },
            "useBuiltIns": true
          }
        ],
        "react"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": "last 2 versions",
              "uglify": false
            },
            "useBuiltIns": true
          }
        ],
        "react"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "8"
            },
            "useBuiltIns": true
          }
        ],
        "react"
      ]
    }
  }
}
