root: true
parser: babel-eslint
plugins:
  - prettier
extends:
  - prettier
globals:
  I18n: I18n
  slugChecker: SlugChecker
  fbq: fbq
env:
  browser: true
  commonjs: true
  es6: true
  jest: true
  node: true
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    experimentalObjectRestSpread: true
    modules: true
    generators: true
    jsx: true
rules:
  no-fallthrough: warn
  no-extra-semi: warn
  no-var: error
  prefer-const: warn
  semi: error
  semi-spacing:
    - error
    - before: false
      after: false
