extends:
  - react-app
globals:
  I18n: I18n
  $: $
  Backbone: Backbone
  _: _
  slugChecker: SlugChecker
rules:
  no-fallthrough: warn
  no-extra-semi: warn
  semi: error
  semi-spacing:
    - error
    - before: false
      after: true

