!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.env.template
!/log/.keep
.#*
.ackrc
.byebug_history
.DS_Store
.elasticbeanstalk/*
.env
.env.*
.idea/*
.ruby-gemset
.ruby-version
.vscode/*
.yarn-integrity
/.bundle
/log/*
/node_modules
/public/packs
/public/packs-test
/tmp
app/javascript/util/locales/*.json
build
champaign.iml
config/env.yml
config/environments/*.local.yml
config/settings.local.yml
config/settings/*.local.yml
coverage/
custom_plan.rb
env.yml
npm-debug.log
out/*
public/system
public/uploads*
public/webpack
queue_listeners/config/env.yml
yarn-debug.log*
yarn-error.log
yarn-error.log*
zeus.json
public/assets
