$teal: #00c0cf;
$dark-teal: #058bb0;
$night-sky: #1c2333;
$navy: #30394f;
$orange: #f8492e;
$light-orange: lighten($orange, 10%);

// 3rd party colors
$facebook: #597ac7;
$twitter: #5dbeec;
$paypal: #1a9ddb;

// grays, named per http://davidwalsh.name/sass-color-variables-dont-suck
$chalk-gray: #ececec;
$overcast-gray: #dbdbdb;
$dingy-gray: #cdcece;
$slate-gray: #b2b5ba;
$chalkboard: #414141;