.cc-window {
  background-color: $navy;
  color: white;
}

.cc-message {
  a, a:hover, a:visited {
    color: $teal;
    text-decoration: none;
  }
  @media(max-width: 700px) {
    font-size: 14px;
    line-height: 1em;
  }
}
.cc-compliance {
  background-color: $orange;
  a, a:hover {
    color: white;
    font-weight: normal;
    border: 0;
    text-decoration: none;
  }
}
