.form {
  &__group {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    input, textarea {
      &.has-error {
        border-color: $orange;
      }
    }
    &.has-error {
      .selectize-control.single .selectize-input {
        border-color: $orange;
      }
    }
    .error-msg {
      color: $orange;
      font-size: 14px;
      float: right;
      text-align: right;
      margin-top: 2px;
    }
    &--prefilled {
      display: none;
    }
    &--half-width {
      width: 49%;
      float: left;
      &--left {
        margin-right: 2%;
      }
    }
  }
  &--big {
    input, select, textarea, .selectize-control.single .selectize-input, .hosted-fields__host {
      font-size: 16px;
      line-height: 16px;
      @include box-sizing(border-box);
      border: 2px solid white;
      background: white;
      border-radius: 3px;
      padding: 18px;
      width: 100%;
      outline: none;
      box-shadow: none;

      &.hosted-fields__host {
        padding: 0 16px;
      }

      &:focus, &.focus {
        border-color: $teal;
        &.dropdown-active {
          border-bottom: none;
        }
      }
    }
    input[type="radio"] {
      margin-top: 0;
      width: auto;
      float: left;
    }
    select {
      height: 58px;
    }

    label.checkbox-label {
      margin: 10px 0 4px;
      font-size: 14px;
    }

    textarea {
      line-height: 1.4em;
      height: 120px;
    }

    .selectize-dropdown.single {
      border: $teal 2px solid;
      border-top: none;
      .option.active {
        background-color: $teal;
        color: white;
      }
    }

    .selectize-control {
      height: 58px;
    }
  }

  .radio-inline {
    display: inline-block;
    max-width: 20px;
  }
}

label.checkbox-label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  input[type='checkbox'] {
    width: 14px;
    height: 14px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    *overflow: hidden;
  }
}

.radio-container {
  &.has-error {
    border-right: 2px solid red;
    border-bottom: 2px solid red;
  }
  label {
    margin: 22px 0 12px 10px;
    display: block;
    margin-bottom: 5px;
  }
}

.sweet-placeholder {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 100%;
  float: left;  

  &__label {
    position: absolute;
    top: 18px;
    left: 20px;
    z-index: 9;
    cursor: text;
    pointer-events: auto;
    color: rgba(0, 0, 0, 0.6);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transform-origin: left top 0px;
    -webkit-user-select: none;
    font-size: 20px;
    line-height: 28px;
    white-space: nowrap;
    max-width: calc(100% - 50px);
    &--active {
      color: $teal;
    }
    &--active, &--full {
      transform: perspective(1px) scale(0.6) translate3d(0px, -15px, 0px);
      max-width: 170%;
    }
  }
  input.sweet-placeholder__field,
  .selectize-control .selectize-input,
  textarea.sweet-placeholder__field {
    padding: 24px 18px 12px;
    font-size: 18px;
    line-height: 21px;
  }
}
.form--big .sweet-placeholder .selectize-control.single .selectize-input {
  padding: 24px 18px 12px;
  font-size: 18px;
  line-height: 21px;
}
