.form__group,
.sweet-placeholder {
  input,
  textarea {
    &.has-error {
      border-color: $orange;
    }
  }
  &.has-error {
    .selectize-control.single .selectize-input {
      border-color: $orange;
    }
  }
}

.form {
  &__group {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    .error-msg {
      color: $orange;
      font-size: 14px;
      float: right;
      text-align: right;
      margin-top: 2px;
    }
    &--prefilled {
      display: none;
    }
    &--half-width {
      width: 49%;
      float: left;
      &--left {
        margin-right: 2%;
      }
    }
  }
  &--big {
    input,
    select,
    textarea,
    .selectize-control.single .selectize-input,
    .hosted-fields__host {
      font-size: 18px;
      line-height: 18px;
      @include box-sizing(border-box);
      border: 2px solid white;
      background: #f9f9f9;
      border-radius: 3px;
      padding: 18px;
      width: 100%;
      outline: none;
      box-shadow: none;

      &.hosted-fields__host {
        padding: 0 16px;
      }

      &:focus,
      &.focus {
        border-color: $teal;
        &.dropdown-active {
          border-bottom: none;
        }
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-family: Montserrat;
      }
    }
    input[type='radio'] {
      margin-top: 0;
      margin-right: 6px;
      width: auto;
      float: left;
    }
    select {
      height: 58px;
    }
    @media (max-width: 420px) {
      input:not([type='checkbox']):not([type='radio']) {
        -webkit-appearance: none;
      }
    }
    .form__radio {
      margin: 10px 0 4px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.4);
    }
    label.checkbox-label,
    .form__instruction {
      margin-bottom: 5px;
      padding: 20px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.4);
      background: #f9f9f9;
    }

    textarea {
      line-height: 1.4em;
      height: 120px;
    }

    .selectize-dropdown.single {
      border: $teal 2px solid;
      border-top: none;
      .option.active {
        background-color: $teal;
        color: white;
      }
    }

    .selectize-control {
      height: 60px;
    }
  }

  .radio-inline {
    display: inline-block;
    max-width: 20px;
  }
}

label.checkbox-label {
  display: block;
  padding-left: 20px;
  position: relative;
  input[type='checkbox'] {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    vertical-align: bottom;
    *overflow: hidden;
  }
}

.radio-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f9f9f9;
  &.has-error {
    border-right: 2px solid red;
    border-bottom: 2px solid red;
  }
  label {
    margin-top: 15px;
    display: block;
  }
}

.sweet-placeholder {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 100%;
  float: left;
  background: #f9f9f9;
  &__label {
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 9;
    cursor: text;
    pointer-events: auto;
    color: rgba(black, 0.4);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    @include transform(scale(1) translate3d(0px, 0px, 0px));
    @include transform-origin(left, top, 0px);
    -webkit-user-select: none;
    font-size: 18px;
    line-height: 28px;
    max-width: calc(100% - 50px);
    overflow: hidden;
    white-space: nowrap;
    &--multiline {
      white-space: normal;
    }
    &--active {
      color: $teal;
      white-space: nowrap;
    }
    &--full {
      color: rgba(black, 0.6);
    }
    &--active,
    &--full {
      @include transform(
        perspective(1px) scale(0.6) translate3d(0px, -15px, 0px)
      );
      max-width: 170%;
    }
  }
  input.sweet-placeholder__field,
  .selectize-control .selectize-input,
  textarea.sweet-placeholder__field {
    background-color: #f9f9f9;
    padding: 24px 18px 12px;
    font-size: 18px;
    line-height: 21px;
  }
}
.form--big .sweet-placeholder .selectize-control.single .selectize-input {
  padding: 23px 18px 11px;
  font-size: 18px;
  line-height: 21px;
}
a {
  cursor: pointer;
}
