@import 'compass/css3/filter';

.fundraiser-bar {
  &__steps {
    position: relative;
    width: 100%;
    margin: 21px auto 0;
    @include transition(width 0.2s linear);

    &--two-step {
      @include transition(width 0s linear);
      position: relative;
      width: 70%;
      margin: 21px auto 0;
    }
  }
  &__step-connector {
    width: calc(100% - 40px);
    height: 2px;
    top: 22px;
    left: 20px;
    margin: 0;
    position: absolute;
    background: $slate-gray;
    border: none;
    &--static {
      position: static;
      float: none;
      margin: 15px auto 9px;
    }
  }
  &__amount-button {
    @include button($orange);
    width: 47%;
    margin: 3px 1.5%;
    float: left;
    font-size: 24px;
    text-align: center;
    padding-top: 18px;
  }
  input.fundraiser-bar__custom-field {
    width: 47%;
    margin: 3px 1.5%;
    text-align: center;
    font-size: 20px;
    padding: 16px;
    height: 60px;
  }
  .form--big label.checkbox-label {
    font-size: 14px;
  }
  &__switch-currency {
    margin: 20px 0;
    font-size: 14px;
    float: left;
  }
  &__currency-selector {
    margin-top: 10px;
  }
  &__engage-currency-switcher {
    cursor: pointer;
  }
  &__step-label {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: table;

    &:first-of-type {
      position: absolute;
      left: 0;
      top: 0;
    }
    &:last-of-type {
      position: absolute;
      right: 0;
      top: 0;
    }
    &:hover {
      .fundraiser-bar__step-name--past {
        color: $navy;
      }
      .fundraiser-bar__step-number--past {
        background-color: $navy;
        border-color: $navy;
        color: white;
      }
    }
  }
  &__step-number {
    height: 45px;
    width: 45px;
    border-radius: 22px;
    border-width: 2px;
    border-style: solid;
    @include box-sizing(border-box);
    padding: 11px 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    &--past {
      color: white;
      background: $slate-gray;
      border-color: $slate-gray;
      cursor: pointer;
    }
    &--current {
      color: white;
      background: $navy;
      border-color: $navy;
    }
    &--upcoming {
      color: $slate-gray;
      background: $overcast-gray;
      border-color: $slate-gray;
    }
  }
  &__step-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    min-width: 65px;

    &--past {
      color: $slate-gray;
      cursor: pointer;
    }
    &--current {
      color: $navy;
    }
    &--upcoming {
      color: $slate-gray;
    }
  }
  &__step-numbers,
  &__step-names {
    float: left;
    width: 100%;
    position: relative;
  }
  &__fields-loading {
    width: calc(100% - 16px);
    background: $overcast-gray;
    padding: 26px;
    position: relative;
    left: -26px;
    padding-left: 42px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    float: left;
    overflow: hidden;
    .fa {
      float: left;
      font-size: 26px;
      margin-right: 13px;
      margin-top: 6px;
    }
  }
  &__submit-button span {
    vertical-align: middle;
    &.fa {
      margin-right: 6px;
      font-size: 20px;
    }
  }
  &__errors {
    background: #f8492d33;
    width: 100%;
    margin: 5px 0;
    border: 2px solid #f8492d;
    font-size: 14px;
    line-height: 16px;
  }
  &__error-intro {
    padding: 10px;
    min-height: 30px;
    text-align: left;
  }
  &__error-detail {
    text-align: left;
    padding: 10px;
  }
  .fa-exclamation-triangle {
    color: #f8492e;
    font-size: 28px;
    padding-right: 5px;
  }
  &__first-continue {
    margin-bottom: 20px;
  }

  &__submit-one-click {
    margin-top: 15px;
    float: left;
  }

  &__toggle-payment-method-container {
    clear: both;
    float: none;
  }

  &__toggle-payment-method {
    @extend .fundraiser-bar__clear-form;
  }

  &__one-click-title {
    margin-bottom: 15px;
  }

  &__payment-methods {
    @extend .fundraiser-bar__welcome-text;
  }
  #payment-methods-collection {
    overflow: hidden;
    margin-top: 8px;
  }
  .payment-method-item {
    margin-left: 36px;
    max-width: calc(100% - 36px);
    font-size: 12px;
    &__radio {
      width: 12px;
      position: relative;
      top: 2px;
    }
  }
  &--freestanding {
    position: static;
    max-width: 400px;
    min-height: 320px;

    .fundraiser-bar__top,
    .fundraiser-bar__main {
      border: none;
      box-shadow: none;
      background-color: transparent;
      position: relative;
    }

    .fundraiser-bar__top h2 {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }

    .form--big input,
    .form--big select,
    .form--big textarea,
    .form--big .selectize-control.single .selectize-input,
    .form--big .hosted-fields__host,
    .DonationBands__input,
    .hosted-fields__host,
    input,
    select,
    .selectize-input,
    div.BraintreeCardFields__hosted-field,
    .SweetSelect .Select > .Select-control {
      &.braintree-hosted-fields-focused,
      &:focus {
        border-color: $teal;
      }
      &.has-error {
        border-color: $orange;
      }
    }

    .overlay-toggle__close-button {
      display: none;
    }

    .fundraiser-bar__step-number--upcoming {
      background: white;
    }

    .hosted-fields__button-container {
      font-size: 16px;
    }

    //paypal
    #bt-pp-cancel {
      width: 80%;
      text-align: left;
    }

    @media (max-width: 736px) {
      label.checkbox-label input[type='checkbox'] {
        position: relative;
        vertical-align: middle;
      }

      .action-form__welcome-name {
        line-height: 14px;
      }

      .action-form__clear-form {
        line-height: 12px;
      }
    }
    .FundraiserView-container {
      margin: auto;
      .StepContent {
        max-width: 340px;
      }
      .BraintreeCardFields__hosted-field {
        border: none;
      }
      .Stepper__steps,
      .StepContent {
        margin-left: auto;
        margin-right: auto;
      }
      .AmountSelection-container {
        font-size: 14px;
      }
      input {
        font-size: 18px;
      }
      .selectize-input {
        border: #b2b5ba;
      }
      .Checkbox {
        line-height: 16px;
        margin: 0;
      }
      label.Checkbox__label {
        font-size: 16px;
        input {
          position: relative;
        }
      }
    }
  }
}

.sticky-wrapper {
  position: relative;
}

.hosted-fields {
  &__host {
    height: 58px;
    width: 100%;
    &.braintree-hosted-fields-focused {
      border-color: $teal;
    }
    &.braintree-hosted-fields-focused + .hosted-fields__card-type {
      color: $teal;
    }
    &.braintree-hosted-fields-invalid {
      border-color: $orange;
    }
    &.braintree-hosted-fields-invalid + .hosted-fields__card-type {
      display: none;
    }
    &.hosted-fields__number {
      padding-right: 52px;
    }
  }
  &__direct-debit {
    background: $paypal;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: block;
    height: 52px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
  }
  &__direct-debit-logo {
    width: 35px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(asset-path('direct_debit_logo'));
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__card-type {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 32px;
    color: $overcast-gray;
    padding: 4px;
    border-radius: 3px;
  }
  &__or {
    display: table;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $slate-gray;
    &--bottom {
      margin: 6px auto 1px;
    }
    &--top {
      margin: 1px auto 6px;
    }
  }
  &__credit-card-fields {
    float: left;
  }
}

#hosted-fields {
  #braintree-paypal-button {
    background: $paypal;
    padding: 4px 0;
    border-radius: 4px;
    cursor: pointer;

    // override BT's inline style
    width: 100% !important;
    img {
      width: 115px !important;
      margin: 0 auto;
    }
  }
  .hosted-fields--grayed-out {
    #braintree-paypal-button,
    #braintree-paypal-button img,
    .hosted-fields__direct-debit {
      @include filter(grayscale(100%));
      &:hover,
      &:hover img {
        @include filter(grayscale(0%));
      }
    }
  }
  #bt-pp-cancel {
    float: left !important;
    margin-left: 36px !important;
  }
}

.donation-error {
  width: 100%;
  margin: 100px auto;
  max-width: 500px;
  font-size: 18px;
  &__header {
    font-size: 24px;
  }
  p,
  ul {
    margin-top: 16px;
  }
  ul,
  ol {
    margin-left: 30px;
  }
  li {
    list-style: disc;
  }
}

.action-form__one-click {
  clear: both;
}

.fundraiser-bar.stuck-right {
  .fundraiser-bar__main {
    // @media only screen and (min-width: 610px) and (max-width: 1100px) {
    //   height: 50vh !important;
    // }
    // @media (max-width: 610px) {
    //   height: 75vh !important;
    // }
    text-align: center;
    background: white;
    border: 0.6px solid #dfdfdf;
    border-top: transparent;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.07);
    height: 70vh;
    border-top: 0px transparent;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: scroll !important;
  }
}
.donate-page-with-centered-layout {
  .fundraiser-bar.overlay-toggle.stuck-right {
    height: 55vh;
    .fundraiser-bar__main {
      height: 55vh !important;
      width: 55%;
      overflow: scroll !important;
      max-width: 500px;
      @media (max-width: 420px) {
        width: 100%;
        height: 70vh !important;
        padding: 12px;
      }
    }
    .FundraiserView-container {
      width: 55%;
      max-width: 500px;
      margin: 0 auto;
      @media (max-width: 420px) {
        width: 100%;
      }
    }
  }
  .fundraiser-bar.overlay-toggle.sidebar.stuck-right {
    @media (max-width: 420px) {
      top: 0 !important;
    }
  }
}

.fundraiser-with-large-image {
  .fundraiser-bar.sidebar.stuck-right {
    z-index: 600 !important;
    @media only screen and (min-width: 500px) and (max-width: 1100px) {
      top: 70px !important;
    }
  }
}
