$mobile-width: 700px;

.petition-bar, .fundraiser-bar, .action-form {

  color: $navy;

  $padding: 26px;
  position: relative;
  z-index: 600;
  @media(max-width: $mobile-width) {
    max-width: none;
  }

  &.petition-bar.stuck-right {
    margin-top: 17px;
  }
  &.stuck-right {
    .petition-bar__main, .fundraiser-bar__main {
      @include viewport-unit(height, 100vh);
    }
    .petition-bar__title-bar {
      clip-path: none;
      -webkit-clip-path: none;
      top: -67px;
      &::after {
        display: none;
      }
    }
    .petition-bar__title {
      height: 67px;
      @include box-sizing(border-box);
      padding: 21px;
      width: 100%;
    }
  }
  &__top {
    background: $overcast-gray;
    color: black;
    padding: $padding;
    overflow: visible;
    position: relative;
    min-height: 68px;
    &.fundraiser-bar__top {
      @include box-sizing(border-box);
    }
  }
  &__main {
    background: $chalk-gray;
    padding: $padding;

    position: absolute;
    overflow: visible;

    width: 100%;
    @include box-sizing(border-box);
  }
  &__title-bar {
    position: absolute;
    top: -60px;
    left: 0;

    width: 100%;
    overflow: hidden;
    &::after {
      width: 15%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: $dark-teal;
      content: "";
    }
  }
  &__title {
    @include box-sizing(border-box);
    padding: 18px 16px;

    background: $teal;
    color: white;
    &.petition-bar__title {
      width: 85%;
    }
  }

  &__content {
    position: relative;
  }

  &__submit-button {
    margin-top: 15px;
    float: left;
  }
  &__submit-button:focus {
    background: #f73415;
    box-shadow: 2px 2px 6px 2px #b96f63;
  }

  &__target {
    margin: 0 0 8px;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 16px;
  }

  &__petition-text {
    font-size: 16px;
    line-height: 20px;
  }

  &__welcome-text {
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
    max-width: 500px;
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 16px;
    border-top: 1px solid $dingy-gray;
    border-bottom: 1px solid $dingy-gray;
    @include box-sizing(border-box);
    position: relative;
  }
  &__user-icon {
    font-size: 26px;
    position: absolute;
    top: 20px;
    &--small.fa {
      font-size: 22px;
    }
  }

  &__welcome-name {
    margin-left: 36px;
    font-weight: bold;
    display: inline-block;
  }

  &__clear-form {
    margin-top: 6px;
    display: block;
    margin-left: 36px;
    font-size: 12px;
  }

  &__fine-print {
    font-size: 12px;
    color: $slate-gray;
    line-height: 16px;
    width: 100%;
    float: left;
    margin-top: 10px;
  }
}


.overlay-toggle {
  &__mobile-ui {

    @media(min-width: $mobile-width + 1) {
      display: none;
    }

    &__bottom-bar {
      position: fixed;
      bottom: 0;
      left: -4%;

      padding: 20px 8%;
      height: 60px;
      width: 92%;
      z-index: 300;

      text-align: center;
      background-color: $overcast-gray;
      @include transition(bottom 0.20s ease-in-out);
    }
  }

  &__close-button {
    color: $navy;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
  }
}

@media(max-width: $mobile-width) {
  .overlay-toggle__mobile-view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    // left: -4%;
    // z-index: 400;
    // width: 100%;
    // height: 100%;
    // overflow-y: visible;
    padding: 0 4%;
    margin: 0;
    background: $chalk-gray;
    @include transition(top 0.40s ease-in-out);

    &--closed {
      top: 2000px;
    }
    &--open {
      top: 0;

      .petition-bar__mobile-ui__bottom-bar {
        bottom: -100px;
      }
    }
  }

  .petition-bar__content, .fundraiser-bar__content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
