.registration {
  h1.typography__highlight {
    display: inline-block;
    padding: 0 0.25em;
  }

  h1, h2 {
    margin-bottom: 20px;
  }

  .registration-form {
    margin-top: 20px;

    input {
      border: 1px solid #999;
      margin-top: 5px;
      line-height: normal;
    }

    .error-msg {
      padding-top: 0.5em;
    }
  }
}
