.registration {
  h1.typography__highlight {
    display: inline-block;
    padding: 20px;
  }

  h1,
  h2 {
    margin-bottom: 20px;
  }

  p {
    padding-bottom: 10px;
  }

  .errors li {
    font-size: 90%;
  }

  .flash-alert {
    padding: 15px 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 13px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #f8492e;
    border-color: #f8492e;
    width: 50%;
  }

  .registration-form {
    margin: 10px auto;
    max-width: 300px;

    &__submit-button {
      margin-top: 15px;
    }

    input,
    select,
    textarea {
      -webkit-appearance: none;
      border-radius: 0;
      border-color: $overcast-gray;
      &.has-error {
        border-color: $orange;
      }
    }
  }
}
