.registration {

  h1.typography__highlight {
    display: inline-block;
  }

  h1, h2 {
    margin-bottom: 20px;
  }

  .registration-form {
    margin-top: 20px;

    input {
      border: 1px solid #999;
      margin-top: 5px;
    }
  }
}
