.survey {
  @include centered-to-full(500px, 2%);
  min-height: calc(100vh - 300px);
  margin-top: 100px;
  overflow: hidden;
  &__skip-button {
    float: left;
  }
  &__form {
    margin: 100px 0;
    overflow: hidden;
  }
  &__skip-button {
    background-color: $light-orange;
  }
  &__button.button {
    margin-top: 15px;
    @media(min-width: 400px) {
      width: 48%;
      margin-right: 2%;
    }
  }
  .form--big input, 
  .form--big select, 
  .form--big textarea, 
  .form--big .selectize-control.single .selectize-input, 
  .form--big .hosted-fields__host {
    border-color: $overcast-gray;
    &.has-error {
      border-color: $orange;
    }
    &:focus, &.focus {
      border-color: $teal;
    }
  }
  .form--big .has-error .selectize-control.single .selectize-input {
    border-color: $orange;
  }
  .form__group {
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 5px;
    display: block;
  }
}
