// Member-facing survey styles
.survey {
  $font-size-breakpoint: 600px;
  @include centered-to-full(500px, 2%);
  @include legacy-pie-clearfix();
  min-height: calc(100vh - 300px);
  margin-top: 100px;
  &__intro {
    padding-top: 60px;
    @media(min-width: $font-size-breakpoint) {
      font-size: 18px;
    }
  }
  &__skip-button {
    float: left;
  }
  &__form {
    margin: 80px 0;
    @include legacy-pie-clearfix();
    @media(min-width: $font-size-breakpoint) {
      font-size: 18px;
    }
  }
  &__skip-button {
    background-color: $light-orange;
  }
  &__button.button {
    margin-top: 15px;
    @media(min-width: 400px) {
      width: 48%;
      margin-right: 2%;
    }
  }
  &__instruction, &__question {
    font-size: 20px;
    @media(min-width: $font-size-breakpoint) {
      font-size: 24px;
    }
    font-weight: lighter;
    line-height: 1.4em;
  }
  .form--big input, 
  .form--big select, 
  .form--big textarea, 
  .form--big .selectize-control.single .selectize-input, 
  .form--big .hosted-fields__host {
    border-color: $overcast-gray;
    &.has-error {
      border-color: $orange;
    }
    &:focus, &.focus {
      border-color: $teal;
    }
  }
  .form--big label.checkbox-label {
    font-size: inherit;
    margin: 0 0 0 12px;
    position: relative;
    top: -10px;
    input[type="checkbox"] {
      top: -2px;
    }
  }
  .form--big .has-error .selectize-control.single .selectize-input {
    border-color: $orange;
  }
  .form__group {
    margin-bottom: 32px;
  }
  label {
    margin-bottom: 5px;
    display: block;
  }
  .radio-container {
    margin-top: 0;
    label {
      margin: 22px 0 12px 10px;
      display: block;
      margin-bottom: 5px;
    }
  }
}
