.thermometer {
  $graphic-height: 10px;
  $graphic-border-radius: 15px;
  &__bg {
    width: 100%;
    height: $graphic-height;
    border-radius: $graphic-border-radius;
    background-color: #e2dbdb;
    float: left;
    margin: 25px 0;
  }
  &__mercury {
    height: $graphic-height;
    border-radius: $graphic-border-radius;
    background-color: $teal;
    float: left;
    margin: 0;
  }

  &__stats {
    width: 100%;
  }
  &__signatures {
    float: left;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    @media (min-width: 700px) and (max-width: 900px) {
      padding-bottom: 10px;
    }
  }
  &__remaining {
    float: right;
    color: rgba($navy, 0.5);
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  @media (max-width: 700px) {
    padding: 0 15px;
  }
}
