$primary-color: #1f2533;

body {
  background-color: #ececec;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans;
}
.example-assets {
  // LAYOUT
  .header,
  .footer {
    background-color: $primary-color;
    width: 100%;
    color: white;
    box-sizing: border-box;
    &__org-name {
      font-size: 22px;
      font-weight: lighter;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .header {
    border-top: darken($primary-color, 10%) 20px solid;
    @include box-shadow(rgba(0,0,0,0.6) 0 0 9px);
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 15px 30px;
  }
  .header-spacer {
    height: 75px;
  }
  .footer {
    @include box-shadow(rgba(0,0,0,0.3) 0 0 3px);
    min-height: 100px;
    padding: 30px;
    overflow: hidden;
    a {
      float: left;
      clear: both;
      margin: 5px;
    }
  }
  .primary-wrapper {
    width: 100%;
    margin: 30px auto;
    max-width: 1050px;

    @media (max-width: 600px) {
      margin: 0;
    }
    &__main-section,
    &__sidebar-section {
      background: white;
      box-sizing: border-box;
      position: relative;
    }
    &__main-section {
      width: calc(100% - 350px);
      @media (max-width: 700px) {
        width: calc(100% - 300px);
      }
      @media (max-width: 600px) {
        width: 100%;
        margin: 0;
        left: 0;
      }
      float: left;
      left: 10px;
      z-index: 2;
      @include box-shadow(rgba(0,0,0,0.3) 1px 1px 6px);
      .main-section {
        &__title {
          width: 100%;
          background-color: $primary-color;
          color: white;
          padding: 30px 40px;
          box-sizing: border-box;
          font-size: 32px;
          font-weight: bold;
        }
        &__header-image {
          width: 100%;
          height: 350px;
          background-size: cover;
        }
        &__body {
          padding: 30px 40px;
          line-height: 1.4em;
        }
      }
    }
    &__sidebar-section {
      padding: 0 0 0 20px;
      left: -10px;
      float: left;
      margin-top: 20px;
      z-index: 1;
      @include box-shadow(rgba(0,0,0,0.3) 1px 1px 4px);
      width: 350px;
      @media (max-width: 700px) {
        width: 300px;
      }
      @media (max-width: 600px) {
        width: 100%;
        margin: 0;
        padding: 0;
        left: 0;
      }
    }

    &:after {
      // clearfix
      content: '';
      display: table;
      clear: both;
    }
  }

  // BASE STYLES
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: lighten($primary-color, 20%);
    }
  }

  // COMPONENTS
  .petition-bar {
    &__target {
      background: #1f2533;
      color: white;
      padding: 20px;
      font-size: 22px;
      font-weight: normal;
      margin: 0;
    }
    &__petition-text {
      padding: 20px;
    }
    &__fine-print {
      padding: 20px;
    }
    .action-form {
      padding: 0 20px;
    }
  }
  .sweet-placeholder {
    &.has-error {
      .selectize-control.single .selectize-input {
        border-color: #f8492e;
      }
    }
    &__field,
    .selectize-control.single .selectize-input {
      border-color: #bbb;
      &.has-error {
        border-color: #f8492e;
      }
      &:focus,
      &.input-active {
        border-color: $primary-color;
      }
    }
    .selectize-dropdown {
      border-color: $primary-color;
    }
    &__label {
      &--active {
        color: $primary-color;
      }
    }
    .selectize-dropdown.single .option.active {
      background-color: $primary-color;
    }
  }
}
