.ExpressDonation {
  position: relative;
  margin-bottom: 20px;
  label {
    cursor: pointer;
  }
}

.ExpressDonation__prompt,
.PaymentTypeSelection__prompt {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 3px;
}

.ExpressDonation__payment-methods,
.PaymentTypeSelection__payment-methods {
  padding: 8px;
  margin-bottom: 20px;
}

.ExpressDonation__single-item {
  .PaymentMethod {
    margin: 0 auto;
    font-weight: bold;
  }
}

.ExpressDonation__toggle {
  font-size: 14px;
  cursor: pointer;
  margin-top: 6px;
  display: block;
  margin-bottom: 8px;
}

.PaymentMethod {
  margin: 10px 0;
  font-size: 14px;
  label,
  input[type='radio'] {
    cursor: pointer;
  }
}

.PaymentMethod input {
  height: 14px;
  width: 14px;
  padding: 0;
}
.PaymentMethodWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.PaymentMethodWrapper__icon {
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: 22px;
  display: none;
}

.PaymentMethod__guidance {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  line-height: 17px;
  margin: 20px 0;
}
