.WelcomeMember {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 0;
  font-size: 16px;
  color: #172340;
}

.WelcomeMember__icon,
.WelcomeMember__name,
.WelcomeMember__link {
  display: block;
  align-self: center;
}

.WelcomeMember__icon {
  font-size: 24px;
  min-width: 40px;
  color: #00c0cf;
}

.WelcomeMember__name {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WelcomeMember__link {
  font-size: 14px;
  cursor: pointer;
  color: #f8492d;
}

.Step__circle {
  border-radius: 22px;
  background-color: #d8d8d8;
  margin: auto;
  padding: 12px 0;
  height: 45px;
  width: 45px;
  font-size: 20px;
  box-sizing: border-box;
  color: #172340;
}
