files:
  "/home/ec2-user/migrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker run -e RDS_DB_NAME=$RDS_DB_NAME -e RDS_USERNAME=$RDS_USERNAME -e RDS_PASSWORD=$RDS_PASSWORD \
      -e RDS_HOSTNAME=$RDS_HOSTNAME -e RDS_PORT=5432 -e RAILS_ENV=production -e DEVISE_SECRET_KEY=$DEVISE_SECRET_KEY \
      aws_beanstalk/staging-app:latest rake db:migrate champaign:seed_liquid
  "/home/ec2-user/precompile-assets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      docker run -e FOG_DIRECTORY=$FOG_DIRECTORY -e FOG_PROVIDER=$FOG_PROVIDER -e FOG_REGION=$FOG_REGION \
      -e DEVISE_SECRET_KEY=$DEVISE_SECRET_KEY -e RAILS_ENV=production -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
      -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY -e SECRET_KEY_BASE=$SECRET_KEY_BASE \
      -e ASSET_SYNC=$ASSET_SYNC -e ASSET_SYNC_GZIP_COMPRESSION=$ASSET_SYNC_GZIP_COMPRESSION \
      aws_beanstalk/staging-app:latest rake assets:precompile
  "/home/ec2-user/docker-housekeeping.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # remove all stopped containers
      docker rm $(docker ps -a -q)
      # remove all unused images
      docker rmi $(docker images | grep "^<none>" | tr -s ' ' | cut -d ' ' -f 3)
      exit 0

container_commands:
  01_add_pending_migrations:
    command: /home/ec2-user/migrations.sh
    leader_only: true
  02_precompile_assets:
    command: /home/ec2-user/precompile-assets.sh
  03_docker_housekeeping:
    command: /home/ec2-user/docker-housekeeping.sh
