.ConsentControls {
  position: relative;
}

.ConsentControls.warning {
  border: 1px solid rgb(223, 184, 84);
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.ConsentControls.warning .notice {
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(255, 251, 222);
}

.ConsentControls .notice {
  display: none;
}

.ConsentControls.warning .notice {
  display: block;
}

.ConsentControls label {
  display: block;
  margin-right: 30px;
  margin-bottom: 10px;
  font-weight: 95%;
}

.simple .ConsentControls input[type="radio"] {
  float: left;
  display: block;
}

.simple .ConsentControls label span {
  display: block;
  margin-left: 30px;
}

/* Selectable Buttons variant */
.selectable-buttons .ConsentControls input[type="radio"] {
  display: none;
}
.selectable-buttons .ConsentControls label {
  display: block;
  background: white;
  border: 1px solid #F73415;
  margin: 15px 0 0 0;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
}

.selectable-buttons .ConsentControls label:hover,
.selectable-buttons .ConsentControls label.active {
  background: #F73415;
  color: white;
}
