.DonateLink {
  pointer-events: visible;
  text-transform: uppercase;
  color: #00c0cf;
  background-color: transparent;
  font-size: 12;
  text-align: center;
  text-decoration: none;
  height: fit-content;
  align-self: center;
  cursor: pointer;
  margin-bottom: 16px;
  user-select: none;
  width: fit-content;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.DonateLink:hover {
  text-decoration: underline;
}
.DonateLink.disabled {
  pointer-events: none;
  cursor: none;
  color: #d1d5db;
}
