.Thermometer-stats {
  width: 100%;
  line-height: 14px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.Thermometer-temperature {
  width: auto;
  float: left;
  text-align: left;
}
.Thermometer-goal {
  width: auto;
  text-align: right;
  color: rgba(48, 57, 79, 0.5);
}

.Thermometer-bg {
  background-color: white;
  border-color: #aaa;
  border-radius: 4px;
  clear: both;
  height: 16px;
  margin: 5px 0 20px;
  padding: 0;
  position: relative;
  width: 100%;
}

.Thermometer-mercury {
  border-radius: 4px;
  background-color: #00c0cf;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 8px;
}
