{% if plugins.email_tool[ref].active %}
  <div id="email-tool-component"></div>

  <script>
    $(document).ready(function() {
      var personalization = window.champaign.personalization;
      var data = _.clone(personalization.emailTool['{{ref}}']);
      _.merge(data, {
        name: personalization.member.full_name,
        email: personalization.member.email,
        country: personalization.member.country || personalization.location.country,
        onSuccess: function (target) {
          window.location.href = window.URI("{{ follow_up_url }}")
            .addSearch({
              'target[name]': target.name,
              'target[title]': target.title
            })
            .toString();
        }
      });

      mountEmailTool('email-tool-component', data);
    });
  </script>

  <div class="body-text text-bottom">
    {{ plugins.email_tool[ref].body }}
  </div>
{% endif %}
