javascript:
  var campaign_page_id = #{ @campaign_page.id };

/ we want to use react_component when possible so it renders react on the server
= react_component 'CampaignPageForm', @campaign_page.to_json
= react_component 'WidgetsEditor', @campaign_page.to_json
