---
http_interactions:
- request:
    method: get
    uri: https://act.sumofus.org/rest/v1/petitionpage/?_limit=1&name=i-dont-exist-anywhere-im-a-total-snowflake
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dHV1bGk6a2VlcHNlY3JldHNvdXRvZnJlcG8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Machine-Id:
      - web-g02-02.actionkit.com
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"limit": 1, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Tue, 14 Jun 2016 18:46:51 GMT
recorded_with: VCR 3.0.3
