---
http_interactions:
- request:
    method: get
    uri: https://api.gocardless.com/refunds/RF0000Z0ED4DJJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Gocardless-Client-Library:
      - gocardless-pro-ruby
      Gocardless-Client-Version:
      - 2.13.0
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64c84708e1d039845d58a953b340caad"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Mon, 27 May 2019 11:25:00 GMT
    body:
      encoding: UTF-8
      string: '{"refunds":{"id":"RF0000Z0ED4DJJ","amount":66,"created_at":"2019-03-11T10:35:58.478Z","reference":"SUMOFUS-53F7ETNQEN","metadata":{},"currency":"EUR","links":{"payment":"PM003QV5KJ20TP","mandate":"MD000ES5KXZDQ2"}}}'
  recorded_at: Mon, 27 May 2019 11:24:38 GMT
recorded_with: VCR 3.0.3
