---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=<oxr_app_id>&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0f143736f7236b9471cab3c5e394ebf"
      Last-Modified:
      - Wed, 28 Mar 2018 15:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1522249200,
          "base": "USD",
          "rates": {
            "AED": 3.672896,
            "AFN": 69.555,
            "ALL": 106.35,
            "AMD": 480.1,
            "ANG": 1.78496,
            "AOA": 212.625,
            "ARS": 20.1318,
            "AUD": 1.304035,
            "AWG": 1.784998,
            "AZN": 1.7025,
            "BAM": 1.57925,
            "BBD": 2,
            "BDT": 84.023234,
            "BGN": 1.583746,
            "BHD": 0.377073,
            "BIF": 1781,
            "BMD": 1,
            "BND": 1.309902,
            "BOB": 6.910046,
            "BRL": 3.336163,
            "BSD": 1,
            "BTC": 0.000126576687,
            "BTN": 64.818642,
            "BWP": 9.492494,
            "BYN": 1.951,
            "BZD": 2.009961,
            "CAD": 1.288772,
            "CDF": 1615,
            "CHF": 0.953366,
            "CLF": 0.0227,
            "CLP": 605.4,
            "CNH": 6.27905,
            "CNY": 6.298678,
            "COP": 2787.92,
            "CRC": 567.08,
            "CUC": 1,
            "CUP": 25.5,
            "CVE": 89.6,
            "CZK": 20.607,
            "DJF": 177.025,
            "DKK": 6.030769,
            "DOP": 49.37,
            "DZD": 113.9485,
            "EGP": 17.64,
            "ERN": 14.996667,
            "ETB": 27.55,
            "EUR": 0.809599,
            "FJD": 2.034,
            "FKP": 0.709293,
            "GBP": 0.709293,
            "GEL": 2.437877,
            "GGP": 0.709293,
            "GHS": 4.4165,
            "GIP": 0.709293,
            "GMD": 47.39,
            "GNF": 9003,
            "GTQ": 7.415017,
            "GYD": 206.99023,
            "HKD": 7.84805,
            "HNL": 23.640545,
            "HRK": 6.0244,
            "HTG": 64.606608,
            "HUF": 252.9885,
            "IDR": 13769.313762,
            "ILS": 3.50297,
            "IMP": 0.709293,
            "INR": 65.185,
            "IQD": 1183.5,
            "IRR": 37573.52369,
            "ISK": 98.382,
            "JEP": 0.709293,
            "JMD": 125.796143,
            "JOD": 0.709503,
            "JPY": 106.1985,
            "KES": 100.758,
            "KGS": 68.266901,
            "KHR": 3996,
            "KMF": 399.064094,
            "KPW": 900,
            "KRW": 1064.34,
            "KWD": 0.299605,
            "KYD": 0.833407,
            "KZT": 319.2,
            "LAK": 8302.5,
            "LBP": 1512.5,
            "LKR": 155.691902,
            "LRD": 131.471475,
            "LSL": 11.779,
            "LYD": 1.325,
            "MAD": 9.1846,
            "MDL": 16.455588,
            "MGA": 3205,
            "MKD": 49.86,
            "MMK": 1335,
            "MNT": 2392.99936,
            "MOP": 8.082661,
            "MRO": 356,
            "MRU": 35.4,
            "MUR": 32.902,
            "MVR": 15.460011,
            "MWK": 725.72,
            "MXN": 18.306703,
            "MYR": 3.856985,
            "MZN": 62.008262,
            "NAD": 11.78,
            "NGN": 360,
            "NIO": 31.24,
            "NOK": 7.825508,
            "NPR": 103.709041,
            "NZD": 1.384732,
            "OMR": 0.385,
            "PAB": 1,
            "PEN": 3.228788,
            "PGK": 3.2135,
            "PHP": 52.28,
            "PKR": 115.55,
            "PLN": 3.404225,
            "PYG": 5549.5,
            "QAR": 3.641481,
            "RON": 3.768671,
            "RSD": 95.9845,
            "RUB": 57.718,
            "RWF": 855,
            "SAR": 3.7498,
            "SBD": 7.794634,
            "SCR": 13.470106,
            "SDG": 18.01,
            "SEK": 8.304907,
            "SGD": 1.309983,
            "SHP": 0.709293,
            "SLL": 7739.007735,
            "SOS": 582,
            "SRD": 7.468,
            "SSP": 130.2634,
            "STD": 19876.30957,
            "STN": 19.93,
            "SVC": 8.750515,
            "SYP": 514.98999,
            "SZL": 11.63,
            "THB": 31.28,
            "TJS": 8.825215,
            "TMT": 3.502487,
            "TND": 2.411402,
            "TOP": 2.210732,
            "TRY": 4.003097,
            "TTD": 6.828282,
            "TWD": 29.158513,
            "TZS": 2257.1,
            "UAH": 26.2965,
            "UGX": 3674.75,
            "USD": 1,
            "UYU": 28.345388,
            "UZS": 8138,
            "VEF": 40241.5117,
            "VND": 22806.598673,
            "VUV": 106.355499,
            "WST": 2.538638,
            "XAF": 531.06187,
            "XAG": 0.06139875,
            "XAU": 0.00075147,
            "XCD": 2.70255,
            "XDR": 0.686073,
            "XOF": 531.06187,
            "XPD": 0.00102515,
            "XPF": 96.610812,
            "XPT": 0.00106725,
            "YER": 250.25,
            "ZAR": 11.782127,
            "ZMW": 9.475101,
            "ZWL": 322.355011
          }
        }
  recorded_at: Wed, 28 Mar 2018 15:24:54 GMT
recorded_with: VCR 3.0.3
