---
http_interactions:
- request:
    method: post
    uri: https://api-v4.bulkemailchecker.com/
    body:
      encoding: UTF-8
      string: key=23423424hcFmKvuUpw0VRtaEPjSsq6Jy3TBbAr&email=support%40sumofus.org
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "unknown",
            "event": "is_catchall",
            "details": "Is a Catchall mx server config.",
            "email": "support@sumofus.org",
            "emailSuggested": "",
            "mailbox": "support",
            "domain": "sumofus.org",
            "mxIp": "99.86.230.34",
            "mxLocation": "US",
            "isComplainer": false,
            "isDisposable": false,
            "isFreeService": false,
            "isOffensive": false,
            "isRoleAccount": true,
            "validationsRemaining": 994,
            "hourlyQuotaRemaining": 1493,
            "execution": "1.75"
        }
  recorded_at: Tue, 21 Apr 2020 09:17:44 GMT
recorded_with: VCR 3.0.3
