---
http_interactions:
- request:
    method: post
    uri: https://api-v4.bulkemailchecker.com/
    body:
      encoding: UTF-8
      string: key=3341hcFmKvuUpw0VRtaEPjSsq6Jy3TBbAr&email=tessdfsdfsfsfsdfsfsfsf%40gmail.com
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "failed",
            "event": "blacklisted_failed",
            "details": "The address provided was found in your failed blacklist containing previously failed addresses.",
            "email": "tessdfsdfsfsfsdfsfsfsf@gmail.com",
            "emailSuggested": "",
            "mailbox": "tessdfsdfsfsfsdfsfsfsf",
            "domain": "gmail.com",
            "mxIp": null,
            "mxLocation": null,
            "isComplainer": null,
            "isDisposable": null,
            "isFreeService": null,
            "isOffensive": null,
            "isRoleAccount": null,
            "validationsRemaining": 992,
            "hourlyQuotaRemaining": 1480,
            "execution": "0.00"
        }
  recorded_at: Tue, 21 Apr 2020 09:47:12 GMT
recorded_with: VCR 3.0.3
