---
http_interactions:
- request:
    method: post
    uri: https://api-v4.bulkemailchecker.com/
    body:
      encoding: UTF-8
      string: key=NnhcFmKvuUpw0VRtaEPjSsq6Jy3TBbAr&email=tessdfsdfsffffsfsdfsfsfsf%40gmail.com
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "failed",
            "event": "mailbox_does_not_exist",
            "details": "The address provided does not exist.",
            "email": "tessdfsdfsffffsfsdfsfsfsf@gmail.com",
            "emailSuggested": "",
            "mailbox": "tessdfsdfsffffsfsdfsfsfsf",
            "domain": "gmail.com",
            "mxIp": "64.233.185.17",
            "mxLocation": "US",
            "isComplainer": false,
            "isDisposable": false,
            "isFreeService": true,
            "isOffensive": false,
            "isRoleAccount": false,
            "validationsRemaining": 991,
            "hourlyQuotaRemaining": 1500,
            "execution": "0.75"
        }
  recorded_at: Fri, 15 May 2020 14:29:31 GMT
recorded_with: VCR 3.0.3
