---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MA000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '992'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:08:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/pro#resource_not_found","type":"invalid_api_usage","request_id":"0835d164-4ca7-49d0-b51f-cd6ba237b2ab","code":404}}'
  recorded_at: Mon, 09 May 2016 22:07:56 GMT
recorded_with: VCR 3.0.0
