---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"session_token":null,"description":"You are donating
        €5.00 to SumOfUs","success_redirect_url":"http://www.example.com/api/go_cardless/pages/1/transaction?amount=5\u0026currency=EUR\u0026page_id=implement-synergistic-cooperation"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Fri, 29 Apr 2016 20:14:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"One of your parameters was incorrectly typed","errors":[{"message":"nil
        is not a string.","field":"session_token","request_pointer":"/redirect_flows/session_token"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_type","type":"invalid_api_usage","request_id":"a6e6687b-54c4-49e1-ab90-1d502a76ac20","code":422}}'
  recorded_at: Fri, 29 Apr 2016 20:13:35 GMT
recorded_with: VCR 3.0.0
