---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"15d4136ed0e060b85683faf3f3e11c0d"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 19 Apr 2016 22:01:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-04-25","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 19 Apr 2016 22:00:13 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/payments/PM000181BRQHM4
      Etag:
      - W/"59e2f72990017093b477c8e16f023f16"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Tue, 19 Apr 2016 22:01:00 GMT
    body:
      encoding: UTF-8
      string: '{"payments":{"id":"PM000181BRQHM4","created_at":"2016-04-19T22:00:13.890Z","charge_date":"2016-04-25","amount":1155,"description":null,"currency":"GBP","status":"pending_submission","amount_refunded":0,"reference":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"links":{"mandate":"MD0000PSV8N7FR","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 19 Apr 2016 22:00:14 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly","day_of_month":"1"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/subscriptions/SB00002PH85Z89
      Etag:
      - W/"62b54c38045227543079b9bf5ccf6746"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 19 Apr 2016 22:03:00 GMT
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"id":"SB00002PH85Z89","created_at":"2016-04-19T22:02:59.304Z","amount":1155,"currency":"GBP","status":"active","name":"donation","start_date":"2016-05-03","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":1,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[{"charge_date":"2016-05-03","amount":1155},{"charge_date":"2016-06-01","amount":1155},{"charge_date":"2016-07-01","amount":1155},{"charge_date":"2016-08-01","amount":1155},{"charge_date":"2016-09-01","amount":1155},{"charge_date":"2016-10-03","amount":1155},{"charge_date":"2016-11-01","amount":1155},{"charge_date":"2016-12-01","amount":1155},{"charge_date":"2017-01-02","amount":1155},{"charge_date":"2017-02-01","amount":1155}],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Tue, 19 Apr 2016 22:02:59 GMT
recorded_with: VCR 3.0.0
