---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MA000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 16:50:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/pro#resource_not_found","type":"invalid_api_usage","request_id":"415341c0-050e-4950-b078-a86ce7d7bfab","code":404}}'
  recorded_at: Fri, 19 Aug 2016 16:49:02 GMT
recorded_with: VCR 3.0.3
