---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e823549e30dcba8072873e7ae7cc3d06"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Fri, 06 May 2016 22:23:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-05-12","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Fri, 06 May 2016 22:22:55 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/subscriptions/SB00002VAVKXCA
      Etag:
      - W/"19608a4b8e6f4c43fb5ff501b2909a53"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Fri, 06 May 2016 22:23:00 GMT
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"id":"SB00002VAVKXCA","created_at":"2016-05-06T22:22:56.658Z","amount":1155,"currency":"GBP","status":"active","name":"donation","start_date":"2016-05-12","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":null,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[{"charge_date":"2016-05-12","amount":1155},{"charge_date":"2016-06-13","amount":1155},{"charge_date":"2016-07-12","amount":1155},{"charge_date":"2016-08-12","amount":1155},{"charge_date":"2016-09-12","amount":1155},{"charge_date":"2016-10-12","amount":1155},{"charge_date":"2016-11-14","amount":1155},{"charge_date":"2016-12-12","amount":1155},{"charge_date":"2017-01-12","amount":1155},{"charge_date":"2017-02-13","amount":1155}],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Fri, 06 May 2016 22:22:56 GMT
recorded_with: VCR 3.0.0
