---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"session_token":"7db81c1e-af47-4c8f-aa25-4b2cfc6aa20f","success_redirect_url":"http://www.example.com/api/go_cardless/transaction?page_id=integrate-value-added-mindshare"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/redirect_flows/RE00004CTBF4R0624H9F877AW5GPNJJT
      Etag:
      - W/"aba79d69b7a5be12df34a47526798ac3"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Wed, 20 Apr 2016 19:17:00 GMT
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"id":"RE00004CTBF4R0624H9F877AW5GPNJJT","description":null,"session_token":"7db81c1e-af47-4c8f-aa25-4b2cfc6aa20f","scheme":null,"success_redirect_url":"http://www.example.com/api/go_cardless/transaction?page_id=integrate-value-added-mindshare","created_at":"2016-04-20T19:16:45.564Z","links":{"creditor":"CR000045KKQEY8"},"redirect_url":"https://pay-sandbox.gocardless.com/flow/RE00004CTBF4R0624H9F877AW5GPNJJT"}}'
  recorded_at: Wed, 20 Apr 2016 19:16:45 GMT
recorded_with: VCR 3.0.0
