---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66282fd01510f62e34680e90febc7e91"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:50:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-06-20","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 14 Jun 2016 23:49:51 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"charge_date":"2016-06-20"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/payments/PM0001DZFV8MSG
      Etag:
      - W/"2bd631b6b64b6e7934e1aa00bcee5fbc"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:50:00 GMT
    body:
      encoding: UTF-8
      string: '{"payments":{"id":"PM0001DZFV8MSG","created_at":"2016-06-14T23:49:52.691Z","charge_date":"2016-06-20","amount":1155,"description":null,"currency":"GBP","status":"pending_submission","amount_refunded":0,"reference":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"links":{"mandate":"MD0000PSV8N7FR","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 14 Jun 2016 23:49:52 GMT
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/customer_bank_accounts/BA0000P8MREF5F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c73e1d569064ff106e2377ed61d5700"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:50:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"customer_bank_accounts":{"id":"BA0000P8MREF5F","created_at":"2016-04-11T19:16:56.376Z","account_number_ending":"11","account_holder_name":"S
        SAMWELL","bank_name":"BARCLAYS BANK PLC","currency":"GBP","country_code":"GB","metadata":{},"enabled":true,"links":{"customer":"CU0000RR39FMVB"}}}'
  recorded_at: Tue, 14 Jun 2016 23:49:53 GMT
recorded_with: VCR 3.0.0
