---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows/RE000033300000/actions/complete
    body:
      encoding: UTF-8
      string: '{"data":{"session_token":null}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 16:50:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/pro#resource_not_found","type":"invalid_api_usage","request_id":"86f019bd-17aa-4f89-a2fe-b4a25b7cf625","code":404}}'
  recorded_at: Fri, 19 Aug 2016 16:49:03 GMT
recorded_with: VCR 3.0.3
