---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54ebd4e71fd4e6ed3c97c4007add7f15"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 16:50:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-08-25","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Fri, 19 Aug 2016 16:49:05 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1155,"currency":"GBP","links":{"mandate":null},"metadata":{"customer_id":"CU0000RR39FMVB"},"charge_date":"2016-09-20"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '996'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 16:50:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"One of your parameters was incorrectly typed","errors":[{"message":"nil
        is not a string.","field":"mandate_id","request_pointer":"/payments/links/mandate"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_type","type":"invalid_api_usage","request_id":"4264517b-81f0-457a-9ea5-5b84b3f76fd5","code":422}}'
  recorded_at: Fri, 19 Aug 2016 16:49:06 GMT
recorded_with: VCR 3.0.3
