---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"session_token":null,"description":"You are donating
        €5.00","success_redirect_url":"http://www.example.com/api/go_cardless/pages/1/transaction?amount=5\u0026currency=EUR\u0026page_id=implement-synergistic-cooperation"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:09:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"One of your parameters was incorrectly typed","errors":[{"message":"nil
        is not a string.","field":"session_token","request_pointer":"/redirect_flows/session_token"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_type","type":"invalid_api_usage","request_id":"e7a17111-95ef-446e-9b4b-218bb4bb1d59","code":422}}'
  recorded_at: Mon, 09 May 2016 22:08:00 GMT
recorded_with: VCR 3.0.0
