---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66282fd01510f62e34680e90febc7e91"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:44:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-06-20","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 14 Jun 2016 23:43:04 GMT
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/customer_bank_accounts/BA0000P8MREF5F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c73e1d569064ff106e2377ed61d5700"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:44:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"customer_bank_accounts":{"id":"BA0000P8MREF5F","created_at":"2016-04-11T19:16:56.376Z","account_number_ending":"11","account_holder_name":"S
        SAMWELL","bank_name":"BARCLAYS BANK PLC","currency":"GBP","country_code":"GB","metadata":{},"enabled":true,"links":{"customer":"CU0000RR39FMVB"}}}'
  recorded_at: Tue, 14 Jun 2016 23:43:05 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly","start_date":"2016-06-20"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/subscriptions/SB0000370YF1ZG
      Etag:
      - W/"fc2a4f669d3b8cc1d6c4acbcb4c24014"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Tue, 14 Jun 2016 23:44:00 GMT
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"id":"SB0000370YF1ZG","created_at":"2016-06-14T23:43:06.680Z","amount":1155,"currency":"GBP","status":"active","name":"donation","start_date":"2016-06-20","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":null,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[{"charge_date":"2016-06-20","amount":1155},{"charge_date":"2016-07-20","amount":1155},{"charge_date":"2016-08-22","amount":1155},{"charge_date":"2016-09-20","amount":1155},{"charge_date":"2016-10-20","amount":1155},{"charge_date":"2016-11-21","amount":1155},{"charge_date":"2016-12-20","amount":1155},{"charge_date":"2017-01-20","amount":1155},{"charge_date":"2017-02-20","amount":1155},{"charge_date":"2017-03-20","amount":1155}],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Tue, 14 Jun 2016 23:43:06 GMT
recorded_with: VCR 3.0.0
