---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad98d45b0277617fb13beb84d343ea77"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '995'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:08:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-05-13","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Mon, 09 May 2016 22:07:52 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":null},"metadata":{"customer_id":"CU0000RR39FMVB"},"charge_date":"2016-05-20","name":"donation","interval_unit":"monthly"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '994'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:08:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid document structure","errors":[{"message":"\"charge_date\"
        is not a permitted key.","request_pointer":"/subscriptions"},{"message":"nil
        is not a string.","field":"mandate_id","request_pointer":"/subscriptions/links/mandate"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_document_structure","type":"invalid_api_usage","request_id":"305c15ca-e05a-4786-b1c3-4bab85f0f2e1","code":400}}'
  recorded_at: Mon, 09 May 2016 22:07:53 GMT
[...]
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":null},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly","start_date":"2016-06-20"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Mon, 06 Jun 2016 15:32:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"One of your parameters was incorrectly typed","errors":[{"message":"nil
        is not a string.","field":"mandate_id","request_pointer":"/subscriptions/links/mandate"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_type","type":"invalid_api_usage","request_id":"23cd9c56-1d0e-4cea-a27a-4834c45d4cc7","code":422}}'
  recorded_at: Mon, 06 Jun 2016 15:31:22 GMT
recorded_with: VCR 3.0.0
