---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad98d45b0277617fb13beb84d343ea77"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:08:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-05-13","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Mon, 09 May 2016 22:07:49 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"charge_date":"2016-05-20","name":"donation","interval_unit":"monthly"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '996'
      Ratelimit-Reset:
      - Mon, 09 May 2016 22:08:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid document structure","errors":[{"message":"\"charge_date\"
        is not a permitted key.","request_pointer":"/subscriptions"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_document_structure","type":"invalid_api_usage","request_id":"01e2dbc0-4dd5-4610-a3a7-49bde1cb504a","code":400}}'
  recorded_at: Mon, 09 May 2016 22:07:50 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/subscriptions/SB00002WZCV7VC
      Etag:
      - W/"9b8614f264534481e590916f665160a9"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 10 May 2016 21:56:00 GMT
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"id":"SB00002WZCV7VC","created_at":"2016-05-10T21:55:08.191Z","amount":1155,"currency":"GBP","status":"active","name":"donation","start_date":"2016-05-16","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":null,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[{"charge_date":"2016-05-16","amount":1155},{"charge_date":"2016-06-16","amount":1155},{"charge_date":"2016-07-18","amount":1155},{"charge_date":"2016-08-16","amount":1155},{"charge_date":"2016-09-16","amount":1155},{"charge_date":"2016-10-17","amount":1155},{"charge_date":"2016-11-16","amount":1155},{"charge_date":"2016-12-16","amount":1155},{"charge_date":"2017-01-16","amount":1155},{"charge_date":"2017-02-16","amount":1155}],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Tue, 10 May 2016 21:55:08 GMT
[...]
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/customer_bank_accounts/BA0000P8MREF5F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c73e1d569064ff106e2377ed61d5700"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Wed, 08 Jun 2016 21:43:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"customer_bank_accounts":{"id":"BA0000P8MREF5F","created_at":"2016-04-11T19:16:56.376Z","account_number_ending":"11","account_holder_name":"S
        SAMWELL","bank_name":"BARCLAYS BANK PLC","currency":"GBP","country_code":"GB","metadata":{},"enabled":true,"links":{"customer":"CU0000RR39FMVB"}}}'
  recorded_at: Wed, 08 Jun 2016 21:42:50 GMT
recorded_with: VCR 3.0.0
