---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8e093f9dfe4d212699e8a2005b91d9b"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '997'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 13:53:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-08-24","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Fri, 19 Aug 2016 13:52:18 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"amount":1155,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"},"metadata":{"customer_id":"CU0000RR39FMVB"},"name":"donation","interval_unit":"monthly","start_date":"2016-09-20"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/subscriptions/SB00003GHBQ3YF
      Etag:
      - W/"d593becf813e1d556125e4dd9fad44b2"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '996'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 13:53:00 GMT
    body:
      encoding: UTF-8
      string: '{"subscriptions":{"id":"SB00003GHBQ3YF","created_at":"2016-08-19T13:52:19.207Z","amount":1155,"currency":"GBP","status":"active","name":"donation","start_date":"2016-09-20","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":null,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[{"charge_date":"2016-09-20","amount":1155},{"charge_date":"2016-10-20","amount":1155},{"charge_date":"2016-11-21","amount":1155},{"charge_date":"2016-12-20","amount":1155},{"charge_date":"2017-01-20","amount":1155},{"charge_date":"2017-02-20","amount":1155},{"charge_date":"2017-03-20","amount":1155},{"charge_date":"2017-04-20","amount":1155},{"charge_date":"2017-05-22","amount":1155},{"charge_date":"2017-06-20","amount":1155}],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Fri, 19 Aug 2016 13:52:19 GMT
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/customer_bank_accounts/BA0000P8MREF5F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99768e118859112446e345f44d692f3c"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '995'
      Ratelimit-Reset:
      - Fri, 19 Aug 2016 13:53:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"customer_bank_accounts":{"id":"BA0000P8MREF5F","created_at":"2016-04-11T19:16:56.376Z","account_number_ending":"11","account_holder_name":"S
        SAMWELL","bank_name":"BARCLAYS BANK PLC","currency":"GBP","country_code":"GB","metadata":{},"enabled":true,"links":{"customer":"CU0000RR39FMVB"}}}'
  recorded_at: Fri, 19 Aug 2016 13:52:19 GMT
recorded_with: VCR 3.0.3
