---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/mandates/MD0000PSV8N7FR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c88788054ca1fce56c441c68c171b3c"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Mon, 11 Apr 2016 23:55:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000PSV8N7FR","created_at":"2016-04-11T19:16:56.421Z","reference":"OMAR-JMEKNM53MREX3","status":"active","scheme":"bacs","next_possible_charge_date":"2016-04-15","payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000P8MREF5F","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Mon, 11 Apr 2016 23:54:28 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1000.0,"currency":"GBP","description":"Donation
        to SumOfUs","links":{"mandate":"MD0000PSV8N7FR"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '998'
      Ratelimit-Reset:
      - Mon, 11 Apr 2016 23:55:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"One of your parameters was incorrectly typed","errors":[{"message":"1000.0
        is not a string or integer.","field":"amount","request_pointer":"/payments/amount"}],"documentation_url":"https://developer.gocardless.com/pro#invalid_type","type":"invalid_api_usage","request_id":"cef57adf-b184-42e5-8dc9-7cb094be871a","code":422}}'
  recorded_at: Mon, 11 Apr 2016 23:54:29 GMT
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1000,"currency":"GBP","description":"Donation
        to SumOfUs","links":{"mandate":"MD0000PSV8N7FR"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/payments/PM00017D02PAFH
      Etag:
      - W/"b91723d3f26ccb0bc5b960c729ca1df3"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Mon, 11 Apr 2016 23:58:00 GMT
    body:
      encoding: UTF-8
      string: '{"payments":{"id":"PM00017D02PAFH","created_at":"2016-04-11T23:57:23.492Z","charge_date":"2016-04-15","amount":1000,"description":"Donation
        to SumOfUs","currency":"GBP","status":"pending_submission","amount_refunded":0,"reference":null,"metadata":{},"links":{"mandate":"MD0000PSV8N7FR","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Mon, 11 Apr 2016 23:57:23 GMT
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/redirect_flows/RE00004631S7XT20JATGRP6QQ8VZEHRZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d4ade51ab4268d5c473ae1834aca2df7"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 12 Apr 2016 22:05:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"redirect_flows":{"id":"RE00004631S7XT20JATGRP6QQ8VZEHRZ","description":null,"session_token":"iamatoken","scheme":null,"success_redirect_url":"http://localhost:3000/api/go_cardless/payment_complete?amount=10&user%5Bform_id%5D=127&user%5Bemail%5D=nealjmd%40gmail.com&user%5Bname%5D=Neal+Donnelly&user%5Bcountry%5D=US&user%5Bpostal%5D=01060&currency=USD&recurring=false&provider=GC","created_at":"2016-04-11T19:15:07.713Z","links":{"creditor":"CR000045KKQEY8","mandate":"MD0000PSV8N7FR","customer":"CU0000RR39FMVB","customer_bank_account":"BA0000P8MREF5F"}}}'
  recorded_at: Tue, 12 Apr 2016 22:04:40 GMT
[...]
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/payments
    body:
      encoding: UTF-8
      string: '{"payments":{"amount":1100,"currency":"GBP","links":{"mandate":"MD0000PSV8N7FR"}}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/payments/PM00017H63J50F
      Etag:
      - W/"12a311c368d3f444ec2807a15aca73ed"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '996'
      Ratelimit-Reset:
      - Tue, 12 Apr 2016 22:05:00 GMT
    body:
      encoding: UTF-8
      string: '{"payments":{"id":"PM00017H63J50F","created_at":"2016-04-12T22:04:43.320Z","charge_date":"2016-04-18","amount":1100,"description":null,"currency":"GBP","status":"pending_submission","amount_refunded":0,"reference":null,"metadata":{},"links":{"mandate":"MD0000PSV8N7FR","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Tue, 12 Apr 2016 22:04:43 GMT
recorded_with: VCR 3.0.0
