---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows/RE000044PXTW1DMX04G13KP3NNQDD1TA/actions/complete
    body:
      encoding: UTF-8
      string: '{"data":{"session_token":"iamatoken"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Fri, 08 Apr 2016 21:16:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Customer has not yet completed the payment pages","errors":[{"reason":"redirect_flow_incomplete","message":"Customer
        has not yet completed the payment pages"}],"documentation_url":"https://developer.gocardless.com/pro#redirect_flow_incomplete","type":"invalid_state","request_id":"21972e30-de43-4356-91b2-997b19598971","code":422}}'
  recorded_at: Fri, 08 Apr 2016 21:15:58 GMT
- request:
    method: get
    uri: https://api-sandbox.gocardless.com/redirect_flows/RE000044PXTW1DMX04G13KP3NNQDD1TA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31aba3c39aee050d97b8fcde5f7fd35e"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 12 Apr 2016 21:56:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"redirect_flows":{"id":"RE000044PXTW1DMX04G13KP3NNQDD1TA","description":null,"session_token":"iamatoken","scheme":null,"success_redirect_url":"http://www.example.com/api/go_cardless/payment_complete?http://www.example.com/api/go_cardless/start_flow","created_at":"2016-04-07T23:59:36.713Z","links":{"creditor":"CR000045KKQEY8"},"redirect_url":"https://pay-sandbox.gocardless.com/flow/RE000044PXTW1DMX04G13KP3NNQDD1TA"}}'
  recorded_at: Tue, 12 Apr 2016 21:55:53 GMT
recorded_with: VCR 3.0.0
