---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"session_token":"iamatoken","success_redirect_url":"http://www.example.com/api/go_cardless/payment_complete?http://www.example.com/api/go_cardless/start_flow"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api-sandbox.gocardless.com/redirect_flows/RE000044PXTW1DMX04G13KP3NNQDD1TA
      Etag:
      - W/"31aba3c39aee050d97b8fcde5f7fd35e"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Fri, 08 Apr 2016 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"redirect_flows":{"id":"RE000044PXTW1DMX04G13KP3NNQDD1TA","description":null,"session_token":"iamatoken","scheme":null,"success_redirect_url":"http://www.example.com/api/go_cardless/payment_complete?http://www.example.com/api/go_cardless/start_flow","created_at":"2016-04-07T23:59:36.713Z","links":{"creditor":"CR000045KKQEY8"},"redirect_url":"https://pay-sandbox.gocardless.com/flow/RE000044PXTW1DMX04G13KP3NNQDD1TA"}}'
  recorded_at: Thu, 07 Apr 2016 23:59:36 GMT
recorded_with: VCR 3.0.0
