---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/redirect_flows/RE000044PXTW1DMX04G13KP3NNQDD1TA/actions/complete
    body:
      encoding: UTF-8
      string: '{"data":{"session_token":"iamatoken"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Fri, 08 Apr 2016 21:16:00 GMT
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Customer has not yet completed the payment pages","errors":[{"reason":"redirect_flow_incomplete","message":"Customer
        has not yet completed the payment pages"}],"documentation_url":"https://developer.gocardless.com/pro#redirect_flow_incomplete","type":"invalid_state","request_id":"21972e30-de43-4356-91b2-997b19598971","code":422}}'
  recorded_at: Fri, 08 Apr 2016 21:15:58 GMT
recorded_with: VCR 3.0.0
