---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=<oxr_app_id>&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17257b5c2f490bff38d1f59f997a7cf6"
      Last-Modified:
      - Thu, 29 Mar 2018 16:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1522339200,
          "base": "USD",
          "rates": {
            "AED": 3.672973,
            "AFN": 69.280636,
            "ALL": 106.56,
            "AMD": 480.440377,
            "ANG": 1.785291,
            "AOA": 214.1235,
            "ARS": 20.132,
            "AUD": 1.303849,
            "AWG": 1.784998,
            "AZN": 1.7025,
            "BAM": 1.5871,
            "BBD": 2,
            "BDT": 83.18,
            "BGN": 1.591712,
            "BHD": 0.37699,
            "BIF": 1781,
            "BMD": 1,
            "BND": 1.311403,
            "BOB": 6.910946,
            "BRL": 3.321972,
            "BSD": 1,
            "BTC": 0.000134713765,
            "BTN": 65.093465,
            "BWP": 9.557361,
            "BYN": 1.949197,
            "BZD": 2.010357,
            "CAD": 1.29016,
            "CDF": 1615,
            "CHF": 0.95713,
            "CLF": 0.02213,
            "CLP": 604.2,
            "CNH": 6.281105,
            "CNY": 6.2896,
            "COP": 2793.1,
            "CRC": 566.980059,
            "CUC": 1,
            "CUP": 25.5,
            "CVE": 89.875,
            "CZK": 20.66085,
            "DJF": 177,
            "DKK": 6.06675,
            "DOP": 49.38,
            "DZD": 114.020406,
            "EGP": 17.6651,
            "ERN": 14.996667,
            "ETB": 27.57,
            "EUR": 0.813813,
            "FJD": 2.041807,
            "FKP": 0.713099,
            "GBP": 0.713099,
            "GEL": 2.434902,
            "GGP": 0.713099,
            "GHS": 4.4193,
            "GIP": 0.713099,
            "GMD": 47.39,
            "GNF": 9000,
            "GTQ": 7.416166,
            "GYD": 207.397607,
            "HKD": 7.84855,
            "HNL": 23.629959,
            "HRK": 6.0477,
            "HTG": 64.591933,
            "HUF": 254.237667,
            "IDR": 13770.147095,
            "ILS": 3.508805,
            "IMP": 0.713099,
            "INR": 65.1067,
            "IQD": 1189,
            "IRR": 37598.02369,
            "ISK": 98.866506,
            "JEP": 0.713099,
            "JMD": 125.806143,
            "JOD": 0.709503,
            "JPY": 106.3465,
            "KES": 100.9925,
            "KGS": 68.28855,
            "KHR": 3998,
            "KMF": 399.95,
            "KPW": 900,
            "KRW": 1062.025,
            "KWD": 0.299605,
            "KYD": 0.83347,
            "KZT": 319.24,
            "LAK": 8310,
            "LBP": 1513.82,
            "LKR": 155.7,
            "LRD": 131.55,
            "LSL": 11.779,
            "LYD": 1.325,
            "MAD": 9.213634,
            "MDL": 16.469139,
            "MGA": 3205,
            "MKD": 50.1205,
            "MMK": 1335.910206,
            "MNT": 2389.166027,
            "MOP": 8.085024,
            "MRO": 355.5,
            "MRU": 35.4,
            "MUR": 33.197,
            "MVR": 15.400126,
            "MWK": 725.53,
            "MXN": 18.24085,
            "MYR": 3.869521,
            "MZN": 61.499992,
            "NAD": 11.84875,
            "NGN": 360,
            "NIO": 31.25,
            "NOK": 7.85088,
            "NPR": 104.140039,
            "NZD": 1.386336,
            "OMR": 0.38499,
            "PAB": 1,
            "PEN": 3.226342,
            "PGK": 3.214,
            "PHP": 52.2285,
            "PKR": 115.5249,
            "PLN": 3.427299,
            "PYG": 5549.4,
            "QAR": 3.641995,
            "RON": 3.79328,
            "RSD": 96.34,
            "RUB": 57.4764,
            "RWF": 856,
            "SAR": 3.7503,
            "SBD": 7.764334,
            "SCR": 13.470075,
            "SDG": 18,
            "SEK": 8.361949,
            "SGD": 1.31128,
            "SHP": 0.713099,
            "SLL": 7619.007735,
            "SOS": 583,
            "SRD": 7.468,
            "SSP": 130.2634,
            "STD": 19927.208984,
            "STN": 20.01,
            "SVC": 8.751998,
            "SYP": 514.98999,
            "SZL": 11.837366,
            "THB": 31.2575,
            "TJS": 8.820814,
            "TMT": 3.50998,
            "TND": 2.400257,
            "TOP": 2.230482,
            "TRY": 3.959695,
            "TTD": 6.819644,
            "TWD": 29.133,
            "TZS": 2258.55,
            "UAH": 26.4875,
            "UGX": 3690.55,
            "USD": 1,
            "UYU": 28.377573,
            "UZS": 8137.5,
            "VEF": 40241.5117,
            "VND": 22799.598673,
            "VUV": 105.632163,
            "WST": 2.535171,
            "XAF": 533.82627,
            "XAG": 0.06134414,
            "XAU": 0.00075599,
            "XCD": 2.70255,
            "XDR": 0.687916,
            "XOF": 533.82627,
            "XPD": 0.00105476,
            "XPF": 97.113711,
            "XPT": 0.00107421,
            "YER": 250.3,
            "ZAR": 11.850374,
            "ZMW": 9.477,
            "ZWL": 322.355011
          }
        }
  recorded_at: Thu, 29 Mar 2018 16:50:51 GMT
recorded_with: VCR 3.0.3
