---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=<oxr_app_id>&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dabf6e357d82eaa69da7a70de3890c07"
      Last-Modified:
      - Thu, 22 Mar 2018 18:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1521741600,
          "base": "USD",
          "rates": {
            "AED": 3.672895,
            "AFN": 69.5315,
            "ALL": 105.18,
            "AMD": 480.557877,
            "ANG": 1.787002,
            "AOA": 215.476,
            "ARS": 20.2238,
            "AUD": 1.295792,
            "AWG": 1.784998,
            "AZN": 1.7025,
            "BAM": 1.589,
            "BBD": 2,
            "BDT": 82.955,
            "BGN": 1.5906,
            "BHD": 0.37704,
            "BIF": 1766.150063,
            "BMD": 1,
            "BND": 1.316662,
            "BOB": 6.910011,
            "BRL": 3.300888,
            "BSD": 1,
            "BTC": 0.00011542456,
            "BTN": 65.11413,
            "BWP": 9.6177,
            "BYN": 1.954665,
            "BZD": 2.012282,
            "CAD": 1.290295,
            "CDF": 1613.322925,
            "CHF": 0.951131,
            "CLF": 0.0228,
            "CLP": 608.4,
            "CNH": 6.3342,
            "CNY": 6.334183,
            "COP": 2860.14,
            "CRC": 567.175059,
            "CUC": 1,
            "CUP": 25.5,
            "CVE": 89.675,
            "CZK": 20.6529,
            "DJF": 177.1,
            "DKK": 6.054252,
            "DOP": 49.54,
            "DZD": 114.025,
            "EGP": 17.6305,
            "ERN": 14.996667,
            "ETB": 27.450206,
            "EUR": 0.812833,
            "FJD": 2.033804,
            "FKP": 0.709019,
            "GBP": 0.709019,
            "GEL": 2.440827,
            "GGP": 0.709019,
            "GHS": 4.4204,
            "GIP": 0.709019,
            "GMD": 47.55,
            "GNF": 9036.35,
            "GTQ": 7.423152,
            "GYD": 207.79338,
            "HKD": 7.84785,
            "HNL": 23.709102,
            "HRK": 6.0514,
            "HTG": 64.800081,
            "HUF": 253.76,
            "IDR": 13762.313762,
            "ILS": 3.48015,
            "IMP": 0.709019,
            "INR": 65.11,
            "IQD": 1196.270696,
            "IRR": 37571.52369,
            "ISK": 99.38,
            "JEP": 0.709019,
            "JMD": 127.03045,
            "JOD": 0.709498,
            "JPY": 105.76383333,
            "KES": 100.907,
            "KGS": 68.17195,
            "KHR": 4004.05,
            "KMF": 399.351594,
            "KPW": 900,
            "KRW": 1077.9,
            "KWD": 0.299744,
            "KYD": 0.834297,
            "KZT": 321.22,
            "LAK": 8298.1,
            "LBP": 1514.5,
            "LKR": 156.304951,
            "LRD": 131.285137,
            "LSL": 11.913334,
            "LYD": 1.334452,
            "MAD": 9.1886,
            "MDL": 16.632113,
            "MGA": 3185.501613,
            "MKD": 50.042081,
            "MMK": 1342.55,
            "MNT": 2394.332694,
            "MOP": 8.091301,
            "MRO": 356,
            "MRU": 35.4,
            "MUR": 32.953,
            "MVR": 15.450233,
            "MWK": 725.485,
            "MXN": 18.498995,
            "MYR": 3.9138,
            "MZN": 62.045,
            "NAD": 11.88625,
            "NGN": 360.385593,
            "NIO": 31.210676,
            "NOK": 7.742535,
            "NPR": 104.180386,
            "NZD": 1.384217,
            "OMR": 0.385026,
            "PAB": 1,
            "PEN": 3.244622,
            "PGK": 3.25455,
            "PHP": 52.3625,
            "PKR": 115.6,
            "PLN": 3.429298,
            "PYG": 5552.8,
            "QAR": 3.640999,
            "RON": 3.792993,
            "RSD": 96.16,
            "RUB": 57.092,
            "RWF": 865.905959,
            "SAR": 3.75005,
            "SBD": 7.783984,
            "SCR": 13.471626,
            "SDG": 18.183283,
            "SEK": 8.25137,
            "SGD": 1.315632,
            "SHP": 0.709019,
            "SLL": 7664.007735,
            "SOS": 578.443062,
            "SRD": 7.468,
            "SSP": 130.2634,
            "STD": 19911.009765,
            "STN": 20.05,
            "SVC": 8.760267,
            "SYP": 514.98999,
            "SZL": 11.911355,
            "THB": 31.2785,
            "TJS": 8.836259,
            "TMT": 3.499986,
            "TND": 2.399809,
            "TOP": 2.210732,
            "TRY": 3.928943,
            "TTD": 6.75385,
            "TWD": 29.145,
            "TZS": 2262.25,
            "UAH": 26.2895,
            "UGX": 3664.05,
            "USD": 1,
            "UYU": 28.494716,
            "UZS": 8149.1,
            "VEF": 36650,
            "VND": 22785.432006,
            "VUV": 106.155497,
            "WST": 2.541338,
            "XAF": 533.183779,
            "XAG": 0.06094783,
            "XAU": 0.00075364,
            "XCD": 2.70255,
            "XDR": 0.68758,
            "XOF": 533.183779,
            "XPD": 0.00101218,
            "XPF": 96.996829,
            "XPT": 0.00105054,
            "YER": 250.344142,
            "ZAR": 11.790755,
            "ZMW": 9.536,
            "ZWL": 322.355011
          }
        }
  recorded_at: Thu, 22 Mar 2018 18:04:29 GMT
recorded_with: VCR 3.0.3
