---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=<app_id>&source=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7e3aec5bdd360af72c69febdb3a1e45"
      Last-Modified:
      - Thu, 29 Mar 2018 19:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 9999999999,
          "base": "USD",
          "rates": {
            "AED": 3.672895,
            "AFN": 69.280636,
            "ALL": 106.56,
            "AMD": 480.440377,
            "ANG": 1.785291,
            "AOA": 214.1235,
            "ARS": 20.1325,
            "AUD": 1.301131,
            "AWG": 1.784998,
            "AZN": 1.7025,
            "BAM": 1.5871,
            "BBD": 2,
            "BDT": 83.185,
            "BGN": 1.58889,
            "BHD": 0.37704,
            "BIF": 1781,
            "BMD": 1,
            "BND": 1.311217,
            "BOB": 6.910011,
            "BRL": 3.293804,
            "BSD": 1,
            "BTC": 0.000134402441,
            "BTN": 65.093465,
            "BWP": 9.557361,
            "BYN": 1.949197,
            "BZD": 2.010357,
            "CAD": 1.287725,
            "CDF": 1615,
            "CHF": 0.95619,
            "CLF": 0.02214,
            "CLP": 604.4,
            "CNH": 6.271776,
            "CNY": 6.2997,
            "COP": 2793.1,
            "CRC": 566.980059,
            "CUC": 1,
            "CUP": 25.5,
            "CVE": 89.875,
            "CZK": 20.622219,
            "DJF": 177,
            "DKK": 6.057594,
            "DOP": 49.54,
            "DZD": 113.986,
            "EGP": 17.632,
            "ERN": 14.996667,
            "ETB": 27.57,
            "EUR": 0.812606,
            "FJD": 2.041807,
            "FKP": 0.712594,
            "GBP": 0.712594,
            "GEL": 2.434902,
            "GGP": 0.712594,
            "GHS": 4.4193,
            "GIP": 0.712594,
            "GMD": 47.39,
            "GNF": 9000,
            "GTQ": 7.416166,
            "GYD": 207.397607,
            "HKD": 7.84815,
            "HNL": 23.629959,
            "HRK": 6.0407,
            "HTG": 64.591933,
            "HUF": 253.8678,
            "IDR": 13770.147095,
            "ILS": 3.510548,
            "IMP": 0.712594,
            "INR": 65.0505,
            "IQD": 1189,
            "IRR": 37598.02369,
            "ISK": 98.8,
            "JEP": 0.712594,
            "JMD": 125.806143,
            "JOD": 0.709498,
            "JPY": 106.503,
            "KES": 100.9555,
            "KGS": 68.28855,
            "KHR": 3998,
            "KMF": 399.95,
            "KPW": 900,
            "KRW": 1062.2,
            "KWD": 0.299623,
            "KYD": 0.83347,
            "KZT": 319.24,
            "LAK": 8310,
            "LBP": 1513.895,
            "LKR": 155.7,
            "LRD": 131.55,
            "LSL": 11.779,
            "LYD": 1.325,
            "MAD": 9.2026,
            "MDL": 16.463716,
            "MGA": 3205,
            "MKD": 50.037387,
            "MMK": 1335.910206,
            "MNT": 2389.166027,
            "MOP": 8.085024,
            "MRO": 355.5,
            "MRU": 35.4,
            "MUR": 33.2025,
            "MVR": 15.400126,
            "MWK": 725.68,
            "MXN": 18.18571,
            "MYR": 3.8695,
            "MZN": 61.499992,
            "NAD": 11.85,
            "NGN": 360,
            "NIO": 31.25,
            "NOK": 7.83772,
            "NPR": 104.140039,
            "NZD": 1.383391,
            "OMR": 0.385005,
            "PAB": 1,
            "PEN": 3.226076,
            "PGK": 3.214,
            "PHP": 52.178454,
            "PKR": 115.5249,
            "PLN": 3.41973,
            "PYG": 5549.4,
            "QAR": 3.640999,
            "RON": 3.786597,
            "RSD": 96.201599,
            "RUB": 57.2983,
            "RWF": 856,
            "SAR": 3.7497,
            "SBD": 7.764334,
            "SCR": 13.470333,
            "SDG": 18,
            "SEK": 8.34911,
            "SGD": 1.310639,
            "SHP": 0.712594,
            "SLL": 7739.007735,
            "SOS": 583,
            "SRD": 7.468,
            "SSP": 130.2634,
            "STD": 19909.409179,
            "STN": 20.01,
            "SVC": 8.751998,
            "SYP": 514.98999,
            "SZL": 11.837366,
            "THB": 31.235833,
            "TJS": 8.820814,
            "TMT": 3.50998,
            "TND": 2.434605,
            "TOP": 2.210732,
            "TRY": 3.945006,
            "TTD": 6.756,
            "TWD": 29.125,
            "TZS": 2258.95,
            "UAH": 26.4875,
            "UGX": 3690.55,
            "USD": 1,
            "UYU": 28.377573,
            "UZS": 8137.5,
            "VEF": 40241.5117,
            "VND": 22799.598673,
            "VUV": 106.438832,
            "WST": 2.542338,
            "XAF": 533.034643,
            "XAG": 0.061136,
            "XAU": 0.0007554,
            "XCD": 2.70255,
            "XDR": 0.687916,
            "XOF": 533.034643,
            "XPD": 0.00104683,
            "XPF": 96.969699,
            "XPT": 0.00107422,
            "YER": 250.3,
            "ZAR": 11.825275,
            "ZMW": 9.477,
            "ZWL": 322.355011
          }
        }
  recorded_at: Thu, 29 Mar 2018 19:04:39 GMT
recorded_with: VCR 3.0.3
