---
http_interactions:
- request:
    method: post
    uri: https://api-v4.bulkemailchecker.com/
    body:
      encoding: UTF-8
      string: key=NnhcFmKvuUpw0VRtaEPjSsq6Jy3TBbAr&email=support%40sumofus.org
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "unknown",
            "event": "is_catchall",
            "details": "Is a Catchall mx server config.",
            "email": "support@sumofus.org",
            "emailSuggested": "",
            "mailbox": "support",
            "domain": "sumofus.org",
            "mxIp": "13.249.102.13",
            "mxLocation": "US",
            "isComplainer": false,
            "isDisposable": false,
            "isFreeService": false,
            "isOffensive": false,
            "isRoleAccount": true,
            "validationsRemaining": 990,
            "hourlyQuotaRemaining": 1499,
            "execution": "0.04"
        }
  recorded_at: Fri, 15 May 2020 14:59:23 GMT
recorded_with: VCR 3.0.3
