---
http_interactions:
- request:
    method: post
    uri: https://api-v4.bulkemailchecker.com/
    body:
      encoding: UTF-8
      string: key=NnhcFmKvuUpw0VRtaEPjSsq6Jy3TBbAr&email=test%40abc.com
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "unknown",
            "event": "inconclusive",
            "details": "Transient error, please try again later.",
            "email": "test@abc.com",
            "emailSuggested": "test@aol.com",
            "mailbox": "test",
            "domain": "abc.com",
            "mxIp": "13.249.102.45",
            "mxLocation": "US",
            "isComplainer": false,
            "isDisposable": false,
            "isFreeService": false,
            "isOffensive": false,
            "isRoleAccount": true,
            "validationsRemaining": 990,
            "hourlyQuotaRemaining": 1500,
            "execution": "1.34"
        }
  recorded_at: Fri, 15 May 2020 15:04:46 GMT
recorded_with: VCR 3.0.3
