---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/update?key=<shareprogress_api_key>
    body:
      encoding: UTF-8
      string: id=1&variants[facebook][][facebook_title]=&variants[facebook][][facebook_description]=&variants[facebook][][facebook_thumbnail]=&variants[facebook][][id]=24&variants[facebook][][_destroy]=true
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1458688553'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ce858bb3dbf1396e8dbdda5a601e0bfb"'
    body:
      encoding: UTF-8
      string: '{"success":false,"response":[{"id":null,"page_url":null,"page_title":null,"button_template":null,"share_button_html":null,"found_snippet":false,"is_active":false,"variants":{"facebook":[],"email":[],"twitter":[]},"advanced_options":{"automatic_traffic_routing":"true","buttons_optimize_actions":"true","customize_params":{"param":"source","e":"mlt","f":"fb","t":"tw","o":"c2c"},"id_pass":{"id":"referrer_id"}}}],"message":{"page_url":["can''t
        be blank"],"button_template":["can''t be blank"]}}'
  recorded_at: Tue, 22 Mar 2016 23:14:53 GMT
recorded_with: VCR 3.0.0
