---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions/idontexist/actions/cancel
    body:
      encoding: UTF-8
      string: '{"data":{}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Wed, 07 Sep 2016 13:21:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/pro#resource_not_found","type":"invalid_api_usage","request_id":"cd8607d6-a2ee-4650-89b3-88cd23a6a963","code":404}}'
  recorded_at: Wed, 07 Sep 2016 13:20:12 GMT
recorded_with: VCR 3.0.3
