---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/mandates/nosuchthingongocardless/actions/cancel
    body:
      encoding: UTF-8
      string: '{"data":{}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Thu, 08 Sep 2016 10:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Resource not found","errors":[{"reason":"resource_not_found","message":"Resource
        not found"}],"documentation_url":"https://developer.gocardless.com/pro#resource_not_found","type":"invalid_api_usage","request_id":"59b3d540-6001-402b-a8e2-15b47e71761a","code":404}}'
  recorded_at: Thu, 08 Sep 2016 09:59:03 GMT
recorded_with: VCR 3.0.3
