---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/subscriptions/SB00003GHBQ3YF/actions/cancel
    body:
      encoding: UTF-8
      string: '{"data":{}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0812e27d5daedbb05a215691d7984bb6"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Wed, 07 Sep 2016 08:30:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"subscriptions":{"id":"SB00003GHBQ3YF","created_at":"2016-08-19T13:52:19.207Z","amount":1155,"currency":"GBP","status":"cancelled","name":"donation","start_date":"2016-09-20","end_date":null,"interval":1,"interval_unit":"monthly","day_of_month":null,"month":null,"metadata":{"customer_id":"CU0000RR39FMVB"},"payment_reference":null,"upcoming_payments":[],"links":{"mandate":"MD0000PSV8N7FR"}}}'
  recorded_at: Wed, 07 Sep 2016 08:29:58 GMT
recorded_with: VCR 3.0.3
