---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.gocardless.com/mandates/MD0000T982CR19/actions/cancel
    body:
      encoding: UTF-8
      string: '{"data":{}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - Bearer <gocardless_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b39f37e55b25374fe878d24e764db675"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Thu, 08 Sep 2016 09:42:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mandates":{"id":"MD0000T982CR19","created_at":"2016-06-14T23:40:03.748Z","reference":"OMAR-ZT7M5WS9XSBGG","status":"cancelled","scheme":"bacs","next_possible_charge_date":null,"payments_require_approval":false,"metadata":{},"links":{"customer_bank_account":"BA0000SSP5XHJC","creditor":"CR000045KKQEY8"}}}'
  recorded_at: Thu, 08 Sep 2016 09:41:29 GMT
recorded_with: VCR 3.0.3
