.SweetInput-root {
  position: relative;
  border-radius: 4px;
  background: white;
  display: flex;
  height: 60px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px 15px 8px 15px;
  padding: 0;
  align-items: stretch;
  border: 2px solid white;
}
.SweetInput-root.focused {
    border: 2px solid rgba(0, 192, 207, 0.7);
}


.SweetInput-root.invalid {
  border: 2px solid rgba(255, 0, 0, .5);
}

.SweetInput-label {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  transform: translate3d(0, 8px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
}

.focused .SweetInput-label,
.filled .SweetInput-label {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0.7);
}

.focused .SweetInput-label {
  color: #00c0cf;
}

.SweetInput-input {
  padding: 15px 10px 0px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: Menlo, Monaco, monospace;
  font-size: 18px;
  border: 2px solid white;
}

.SweetInput-input::placeholder {
    color: transparent;
    transition: 240ms;
}

.SweetInput-input:focus::placeholder {
    transition: none;
}

.focused .SweetInput-input::placeholder {
    color: #ccc;
}

.SweetInput-error {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  color: rgba(255, 0, 0, .6);
  font-size: .8em;
  font-style: italic;
}
