=> label_tag 'widgets[raw_html][content]', 'HTML Contents:'
= text_field_tag 'widgets[raw_html][content]', '', placeholder: 'The HTML to include'
= hidden_field_tag 'widgets[raw_html][widget_type]', widget_type_id.to_s