= render 'cdn/moment'
= render 'cdn/dropzone'
= render 'cdn/summernote'
= render 'cdn/codemirror'
= render 'cdn/datatables'
= render 'cdn/typeahead'
= render 'cdn/speakingurl'
= javascript_include_tag "https://cdn.tiny.cloud/1/tti67swno0y0j3mzl4zlbmk1rvv8v1lgsms0jngmpdkh6ezt/tinymce/6/tinymce.min.js", referrerpolicy: "origin"