= render 'cdn/jquery'
= render 'cdn/jquery_ujs'
= render 'cdn/jquery_ui'
= render 'cdn/selectize'
= render 'cdn/jquery_sticky'
= render 'cdn/moment'
= render 'cdn/dropzone'
= render 'cdn/summernote'
= render 'cdn/codemirror'
= render 'cdn/datatables'
= render 'cdn/typeahead'
= render 'cdn/speakingurl'
