= stylesheet_link_tag "https://unpkg.com/dropzone@5.2.0/dist/min/basic.min.css"
= stylesheet_link_tag "https://unpkg.com/dropzone@5.2.0/dist/min/dropzone.min.css"
= javascript_include_tag "https://unpkg.com/dropzone@5.2.0/dist/min/dropzone.min.js"
