= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/basic.min.css"
= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.css"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.js"
