= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js"
