- variant = Rails.env.production? ? "production.min" : "development"
= javascript_include_tag "https://unpkg.com/react@16/umd/react.#{variant}.js", crossorigin: true
= javascript_include_tag "https://unpkg.com/react-dom@16/umd/react-dom.#{variant}.js", crossorigin: true
