javascript:
  _linkedin_partner_id = '#{Settings.linkedin["partner_id"]}';window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];window._linkedin_data_partner_ids.push(_linkedin_partner_id);(function(){var s = document.getElementsByTagName("script")[0];var b = document.createElement("script");b.type = "text/javascript";b.async = true;b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";s.parentNode.insertBefore(b, s);})();
noscript
  img alt="" height="1" src="https://px.ads.linkedin.com/collect/?pid=#{Settings.linkedin['partner_id']}&fmt=gif" style="display:none;" width="1" /