li= link_to t('menu.pages'), pages_path
li= link_to t('menu.campaigns'), campaigns_path
li= link_to t('menu.forms'), forms_path
li= link_to t('menu.templates'), liquid_layouts_path
li= link_to t('menu.partials'), liquid_partials_path
li= link_to t('menu.donation_bands'), donation_bands_path
li= link_to t('menu.pension_funds'), pension_funds_path
li= link_to t('menu.sessions_blacklists'), sessions_blacklists_path
