.SweetSelect {
  .has-error .Select__control {
    border-color: #f8492e;
  }
  .is-focused:not(.is-open) > .Select__control {
    border-color: #00c0cf;
  }
  .is-open > .Select__kk {
    border-color: #00c0cf #00c0cf white #00c0cf;
  }
  .Select__control,
  .is-focused:not(.is-open) > .Select__control,
  .is-open > .Select__control {
    border-width: 2px;
    box-shadow: none;
    outline: none;
  }
  .Select__option {
    font-size: 16px;
  }
  .Select__option.is-selected {
    background: white;
    color: #333;
  }
  .Select__option.is-focused {
    background: #00c0cf;
    color: white;
  }
  .Select__menu-outer {
    border-color: white #00c0cf #00c0cf #00c0cf;
    z-index: 200;
    border-width: 0 2px 2px 2px;
  }

  .Select__control .Select__value,
  .Select__control {
    border-color: white;
    padding: 24px 18px 12px;
    border-width: 2px;
  }

  .Select__input, .Select__value .Select__value-label {
    height: 21px;
    line-height: 21px;
    padding-left: 0;
    font-size: 18px;
    position: relative;
    top: -4px;
    input {
      padding: 5px 0 0 0;
    }
  }

  .error-msg:empty {
    display: none;
  }
}
