{% if plugins.actions_thermometer[ref].active %}
  <!-- actions thermomter partial - this partial will be cached, so the javascript replaces the
       values for signature, remaining, and thermometer width -->
  <div class='thermometer'>
    <div class="thermometer__stats">
      <div class='thermometer__signatures'>
        {{ plugins.actions_thermometer[ref].signatures }} {{ 'actions_thermometer.signatures' | t }}
      </div>
      <div class="thermometer__remaining">
        {{ 'actions_thermometer.signatures_until_goal' |
            val: 'goal', plugins.actions_thermometer[ref].goal_k |
            val: 'remaining', plugins.actions_thermometer[ref].remaining | t }}
      </div>
    </div>
    <div class="thermometer__bg">
      <div class="thermometer__mercury" style="width: {{ plugins.actions_thermometer[ref].percentage }}%"></div>
    </div>
  </div>
{% endif %}
