$teal: #00c0cf;
$night-sky: #1c2333;
$navy: #30394f;
$orange: #f8492e;

// 3rd party colors
$facebook: #597ac7;
$twitter: #5dbeec;

// grays, named per http://davidwalsh.name/sass-color-variables-dont-suck
$chalk-gray: #ececec;
$overcast-gray: #dedede;
$dingy-gray: #cdcece;
$chalkboard: #414141;