$teal: #00c0cf;
$night-sky: #1c2333;
$navy: #30394f;
$orange: #f8492e;

// grays, named per http://davidwalsh.name/sass-color-variables-dont-suck
$chalk-gray: #ececec;
$dingy-gray: #dedede;
$chalkboard: #414141;