.center-content {
  @include centered-to-full(1080px);

  &__big-column {
    width: 59%;
    margin-left: 4%;
    float: left;
  }
  &__small-column {
    width: 29%;
    margin-left: 4%;
    float: left;
  }
}