$mobile-width: 700px;

html {
  position: relative;
  min-height: 100%;
}

.center-content {
  @include legacy-pie-clearfix();
  @include centered-to-full(1080px);

  &--accomodates-stuck-footer {
    margin-bottom: 150px;
  }
  &__fixed-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 33%;
    z-index: 400;
    @media(max-width: 1100px) {
      width: 39%;
    }
    @media(max-width: 900px) {
      width: 47%;
    }
  }
  &__big-column {
    width: 59%;
    margin-left: 4%;
    float: left;
    @media(max-width: 1100px) {
      width: 53%;
    }
    @media(max-width: 900px) {
      width: 46%;
    }
  }
  &__small-column {
    width: 29%;
    margin-left: 4%;
    float: left;
    @media(max-width: 1100px) {
      width: 35%;
    }
    @media(max-width: 900px) {
      width: 43%;
      margin-left: 3%;
    }
  }
  &__small-column, &__big-column {
    @media(max-width: $mobile-width) {
      width: 92%;
    }
  }
  &__one-column {
    width: 92%;
    margin-left: 4%;
    float: left;
  }
  &__central-square {
    text-align: center;
    max-width: 700px;
    margin: 100px auto 140px;
    @media(max-width: $mobile-width) {
      margin-top: 80px;
    }
  }
  &__centered-element {
    margin-left: auto;
    margin-right: auto;
  }
  &--push-down {
    margin-top: 50px;
  }
}

.clearfix {
  @include clearfix();
}

// to use: $('.mobile-indicator').is(':visible');
.mobile-indicator {
  display: none;
  @media(max-width: $mobile-width) {
    display: block;
  }
}
@media(max-width: $mobile-width) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
@media(min-width: $mobile-width) {
  .mobile-hide {
    display: block;
  }
  .mobile-show {
    display: none;
  }
}

.hidden-irrelevant, .hidden-closed {
  display: none;
  visibility: hidden;
}
