$default-fonts: 'Helvetica Nueue', Helvetica, Arial, sans;

html {
  font-size: 16px;
}

body {
  font-family: $default-fonts;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: bold;
}

h1 {
  @include rem(font-size, 2.2rem, true)
}

.typography {
  &__highlight {
    background: $teal;
  }

  &__dark-highlight {
    background: $navy;
  }
  &__highlight, &__dark-highlight {
    padding: 0.4em 16px;
    color: white;
    float: left;
    clear: both;
    // drop shadow
  }
}