.Button-root.DonationBandButton {
  width: 48.5%;
  display: inline-block;
  font-size: 24px;
}

.DonationBandButton--shade:not(:hover) {
  background-color: darkgray;
  border-color: darkgray;
}

@media (max-width: 300px) {
  .Button-root.DonationBandButton {
    min-width: 100%;
  }
}
