.form-group
  = label_with_tooltip(form, :description, t('share.twitter.form.description'), t('tooltips.shares.link_explanation'))
  = form.text_area :description, class: 'form-control', maxlength: 264
