javascript:
  window.champaign = window.champaign || {};
  window.champaign.personalization = {
    outstandingFields: #{serialize(data, 'outstanding_fields')},
    paymentMethods: #{serialize(data, 'payment_methods')},
    donationBands: #{serialize(data, 'donation_bands')},
    actionCount: #{ serialize(data, 'action_count') },
    actionsThermometer: #{ serialize(data, 'actions_thermometer') },
    donationsThermometer: #{ serialize(data, 'donations_thermometer') },
    formValues: #{serialize(data, 'form_values') },
    callTool: #{ serialize(data, 'call_tool') },
    emailTool: #{ serialize(data, 'email_tool') },
    emailPension: #{ serialize(data, 'email_pension') },
    urlParams: #{ serialize(data, 'url_params') },
    location: #{ serialize(data, 'location') },
    member: #{serialize(data, 'member') },
  }
