javascript:
  window.sumofus = window.sumofus || {};
  window.sumofus.personalization = {
    outstandingFields: #{serialize(data, 'outstanding_fields')},
    urlParams: #{ serialize(data, 'url_params') },
    location: #{ serialize(data, 'location') },
    member: #{serialize(data, 'member')}
  }
