- share_card = share_card(@page)
- meta twitter: twitter_meta(@page, share_card)
- meta og: facebook_meta(@page, share_card)
- meta optimization_tags: @page.meta_tags

= @rendered
= render 'pages/personalization', data: @data
= render 'pages/campaigner_overlay', page: @page
= render 'pages/ak_credentials', page: @page

javascript:
  $(document).ready(function() {
    #{@page.javascript.try(:html_safe)}
  });
