- share_card = share_card(@page)
- meta twitter: twitter_meta(@page, share_card)
- meta og: facebook_meta(@page, share_card)

- meta optimization_tags: @page.optimization_tags
- meta liquid_layout: @page.liquid_layout.title.downcase

= @rendered

= render 'pages/campaigner_overlay', page: @page

javascript:
  $(document).ready(function() {
    #{@page.javascript.try(:html_safe)}
  });
