- share_card = share_card(@page)
- meta twitter: twitter_meta(@page, share_card)
- meta og: facebook_meta(@page, share_card)

- meta optimization_tags: @page.meta_tags
- meta liquid_layout: @page.liquid_layout.title.downcase
= render 'pages/personalization', data: @data
= render 'pages/frontend_config'
= render 'shared/page_object'
= @rendered

javascript:
  $(document).ready(function() {
    #{@page.javascript.try(:html_safe)}
  });

= render 'pages/campaigner_overlay', page: @page
