- space_left = space_left ? "tooltip__trigger--space-left" : ""
span.tooltip__trigger data-toggle="tooltip" title="#{tooltip_text}" data-placement="right" class="#{space_left}"
  span.tooltip__trigger-inner
    | ?
