= form_for plugin, url: path, remote: true, html: { class: 'activation-toggle' }  do |f|
  = f.hidden_field :active, class: 'activation-toggle-field'
  .form-group
    = render 'shared/binary_switch', checked: plugin.active?
