body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
}

#root {
  background-color: #ececec;
  height: 100%;
}


@media (min-width: 701px) {
  #root {
    position: absolute;
    right: 0 ;
    width: 370px;
  }
}

.section {
  padding: 26px;
}

h1, h2, h3, h4, h5 {
  text-align: left;
}

#root .title {
  margin: 0;
}

#root .darken-background {
  background-color: #dbdbdb;
}

input:focus {
  border-color: #00c0cf;
  border-width: 2px;
  border-style: solid;
  outline: none;
  box-sizing: border-box;
}
