defaults: &defaults
  SECRET_KEY_BASE: 'secret_key_base'
  OMNIAUTH_CLIENT_SECRET: 'omniauth_client_secret'
  OMNIAUTH_CLIENT_ID: 'omniauth_client_id'
  DEVISE_SECRET_KEY: 'devise_secret_key'

development:
  <<: *defaults

test:
  <<: *defaults
