defaults: &defaults
  SECRET_KEY_BASE: 'secret_key_base'
  OMNIAUTH_CLIENT_SECRET: 'omniauth_client_secret'
  OMNIAUTH_CLIENT_ID: 'omniauth_client_id'
  DEVISE_SECRET_KEY: 'devise_secret_key'
  FACEBOOK_APP_ID: '1234'
  SHARE_PROGRESS_API_KEY: '1234'
  FOG_DIRECTORY: 'S3 Bucket Name'
  FOG_PROVIDER: 'AWS'
  FOG_REGION: 'us-west-2'
  ASSET_SYNC_GZIP_COMPRESSION: true

# AWS config variables - you get these from https://console.aws.amazon.com/ or https://console.aws.amazon.com/iam/
  AWS_ACCESS_KEY_ID: 'Access Key ID'
  AWS_SECRET_ACCESS_KEY: 'Secret Access Key'
  AWS_REGION: 'Your region in AWS'

development:
  <<: *defaults
  # Only set SQS_QUEUE_URL in development if you want to push to a
  # live AWS SQS Queue
  SQS_QUEUE_URL:

test:
  <<: *defaults
  # Only set SQS_QUEUE_URL in development if you want to push to a
  # live AWS SQS Queue
  SQS_QUEUE_URL: 'http://example.com/1234'

