{% if plugins.email_target[ref].active %}
  <div id='email-target-component'></div>

  <script>
    $(document).ready(function() {
      var member = window.champaign.personalization.member;
      var data = _.clone(window.champaign.personalization.emailTarget['{{ref}}']);
      _.merge(data, {
        name: member.full_name,
        email: member.email,
        country: member.country,
        formValues: window.champaign.personalization.formValues
      });

      mountEmailTarget('email-target-component', data);
    });
  </script>
{% endif %}
