@import '../../../assets/stylesheets/member-facing/_mixins.scss';

.Stepper {
  display: block;
  position: relative;
  padding: 26px;
  box-sizing: border-box;
  background: #dbdbdb;
  color: black;
  min-height: 68px;
  overflow: visible;
}

.Stepper__steps .Step {
  &:first-of-type {
    margin-right: auto;
  }
  &:last-of-type {
    margin-left: auto;
  }
}

.Stepper__steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  user-select: none;
  cursor: default;
  margin-top: 21px;
}

.Stepper__line {
  z-index: 0;
  width: calc(100% - 15%);
  height: 2px;
  top: 22px;
  left: 5%;
  margin: 0;
  position: absolute;
  background: #b2b5ba;
  border: none;
}

.StepContent-hidden {
  display: none;
}

@media(min-width: 700px) {
  .StepContent, .Stepper__steps {
    max-width: 290px;
  }
}

.submission-interstitial {
  box-sizing: border-box;
  @include viewport-unit(height, 100vh);

  width: 100%;
  background: #ececec;
  position: absolute;
  z-index: 100;
  padding: 30px;
  text-align: center;

  &__title {
    font-size: 30px;
    margin-top: 80px;
    .fa {
      margin-right: 10px;
    }
  }
}

