.email-uk-parliament {
  section.body-text {
    min-height: unset;
    padding: 2em 0;
    margin: 0;
    margin-left: 7%;
    width: 70%;
    @media (max-width: 580px) {
      width: 90%;
      margin: 0 auto;
      text-align: left;
    }
  }
  section.alternate-bg {
    margin-bottom: 200px;
    width: 70%;
    margin-left: 7%;
    padding: 0;
    background: transparent;
    @media (max-width: 580px) {
      max-width: 320px;
      margin-bottom: 100px;
    }
    .form__group {
      margin-bottom: 15px;
      h3 {
        font-size: 18px;
      }
      .sweet-placeholder__field {
        border: solid 0.5px #e6e6e6;
        background: #f9f9f9;
      }
    }
  }
}

.EmailToolView-note {
  width: 100%;
  display: inline-block;
  background: #f1f1f1;
  font-size: 18px;
  margin-top: -30px;
  
  .title{
    font-weight: bold;
  }

  .section{
    padding: 8px 16px;
    margin: 8px 0;
    
    div{
      width: 100%;
      display: inline-block;
      padding: 10px 0;
    }

    span{
      margin-left: 4px;
      display: inline-block;
      line-height: 150%;
    }
  }
}

.copy-button{
  display: inline;
  width: auto;
  height: auto !important;
  padding: 5px;
  margin-bottom: 8px !important;

  i{
    margin-right: 0 !important;
  }
}

