.Representative {
  padding: 5px 20px;
  background: #f9f9f9;
  border: solid 0.5px #e6e6e6;
  display: flex;
  align-items: center;
}

.Representative .ProfilePicture {
  min-height: 50px;
  min-width: 50px;
}

.Representative-copy {
  margin: auto 1em;
  font-size: 1.3em;
}
.Representative-name {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.Representative-party {
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.form--big .Representative {
  border-radius: 3px;
}
