h1 = t("confirmation_mailer.confirmation_email.headline")

- confirmation_url = email_confirmation_url(host: Settings.host, token: @token, language: @language_code)

p
  = t('confirmation_mailer.confirmation_email.body_html', confirmation_url: confirmation_url)
