.full-screen-block {
  position: relative;
  overflow: hidden;
  @include box-sizing(border-box);
  max-height: none;
  height: auto;
}

.baysanto {
  $large-font-size: 30px;
  $helvetica: "Helvetica Neue", Helvetica, Arial, sans;
  $roboto: "Roboto Slab", "Times New Roman", serif;
  $text-gray: #434343;
  font-family: $helvetica;
  * {
    line-height: 1.2em;
  }

  &__intro-block {
    background-color: #cd4b21;
    @include viewport-unit(padding-top, 15vh);
    @include viewport-unit(padding-bottom, 13vh);
  }
  &__intro-details {
    @include centered-to-full(700px, 2%);
    @include viewport-unit(margin-top, 10vh);
    a {
      font-weight: bold;
      color: white;
    }
  }
  &__white-body {
    color: white;
    font-weight: normal;
    font-size: 20px;
  }


  &__magazine-block {
    background-color: white;
    @include viewport-unit(padding-top, 15vh);
    @include viewport-unit(padding-bottom, 13vh);
    color: $text-gray;
  }
  &__magazine-body-text {
    @include centered-to-full(700px, 2%);
    * {
      line-height: 1.4em;
    }
  }
  &__magazine-quote {
    font-family: $roboto;
    font-size: $large-font-size;
    padding-left: 28px;
    border-left: 2px solid #cccdcd;
    width: 67%;
    position: relative;
    margin-bottom: 14px;
    line-height: 1.2em;
    $quote-jut-1: -75px;
    $quote-break-1: 900px;
    $quote-jut-2: -30px;
    $quote-break-2: 850px;
    $quote-jut-3: 26px;
    @media(max-width: 600px) {
      width: 100%;
      @include box-sizing(border-box);
    }
    &--right {
      @media(max-width: $quote-break-1) {
        margin-right: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-right: $quote-jut-3;
        font-size: 26px;
      }
      margin-right: $quote-jut-1;
      left: $quote-jut-3;
      float: right;
    }
    &--left {
      @media(max-width: $quote-break-1) {
        margin-left: $quote-jut-2;
      }
      @media(max-width: $quote-break-2) {
        margin-left: $quote-jut-3;
        font-size: 26px;
      }
      margin-left: $quote-jut-1;
      right: $quote-jut-3;
      float: left;
      margin-top: 20px;
    }
  }
  &__magazine-page-number {
    font-family: $helvetica;
    font-weight: bold;
    font-size: 20px;
    margin-top: 18px;
  }
  &__magazine-cite {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__environmental {
    &-block {
      background-color: #808a11;
      @include viewport-unit(padding-top, 15vh);
      @include viewport-unit(padding-bottom, 13vh);
      color: white;
    }
    &-title {
      font-size: $large-font-size;
      font-weight: bold;
      @include centered-to-full(700px, 2%);
      padding-bottom: 10px;
      text-align: center;
    }
    &-group {
      padding-top: 60px;
      @include centered-to-full(900px, 2%);
      position: relative;
    }
    &-icon {
      background: white;
      width: 140px;
      height: 140px;
      position: absolute;
      left: 0;
      top: 60px;
    }
    &-reason {
      margin-left: 190px;
      font-size: $large-font-size;
      font-family: $roboto;
    }
    &-details {
      margin-left: 190px;
      font-size: 16px;
      margin-top: 18px;
    }
  }

  &__shareholder {
    &-block {
      @include viewport-unit(padding-top, 15vh);
      @include viewport-unit(padding-bottom, 13vh);
      background: white;
      color: $text-gray;
    }
    &-text {
      @include centered-to-full(400px, 5%);
      margin-top: -580px;
      text-align: center;
      position: relative;
      z-index: 100;
      @media(max-width: 670px) { margin-top: -530px; }
      @media(max-width: 670px) { margin-top: -460px; }
      @media(max-width: 540px) { margin-top: -460px; }
      @media(max-width: 440px) { margin-top: -300px; }
    }
    &-title {
      font-size: $large-font-size;
      font-weight: bold;
      margin-bottom: 22px;
    }
    &-details {
      font-size: 16px;
    }
    &-quote {
      font-family: $roboto;
      font-size: $large-font-size;
      @include centered-to-full(600px, 2%);
      margin-top: 200px;
      @media(max-width: 670px) {
        margin-top: 100px;
        text-align: center;
      }
    }
  }
  &__pie-chart {
    @include centered-to-full(680px, 2%);
    position: relative;
    z-index: 1;
    @media(max-width: 680px) {
      opacity: 0.25;
      canvas {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  &__action {
    &-block {
      background-color: #1f3670;
      color: white;
      @include viewport-unit(padding-top, 15vh);
      @include viewport-unit(padding-bottom, 13vh);
    }
    &-count {
      font-weight: bold;
      width: 100%;
      text-align: center;
      font-size: 150px;
      @media(max-width: 680px) { font-size: 120px; }
      @media(max-width: 550px) { font-size: 90px; }
      @media(max-width: 420px) { font-size: 70px; }
    }
    &-count-explanation {
      @include centered-to-full(450px, 2%);
      text-align: left;
      font-size: 20px;
      margin-top: 20px;
      line-height: 1.3em;
    }
    &-title {
      font-size: $large-font-size;
      font-weight: bold;
      text-align: left;
      margin-bottom: 45px;
    }
    &-opportunities {
      width: 810px;
      margin: 70px auto 0;
      overflow: hidden;
    }
    &-opportunity {
      $padding: 60px;
      width: 340px;
      float: left;
      &--left {
        padding-right: $padding;
        border-right: 2px solid white;
      }
      &--right {
        padding-left: $padding;
      }
    }
  }
  .action-form__welcome-text, .checkbox-label {
    color: white;
  }
}

.hero-title {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  @include centered-to-full(900px, 2%);
  &--white {
    color: white;
  }
}

