.main-feature {
  padding: 55px 0;
  min-height: 380px;
  &--close-top {
    padding-top: 30px;
  }
}

.imageless-title {
  margin-top: 30px;
}

.page-link {
  @include rem(font-size, 0.9rem);
  @include rem(line-height, 1.0rem);
  margin-top: 20px;
}

.stubby-hr {
  background-color: $dingy-gray;
  border-color: $dingy-gray;
  color: $dingy-gray;
  border-style: solid;
  width: 70px;
  margin: 70px 0;
}
.pre-main-bar {
  background: $overcast-gray;
  width: 100%;
  overflow: hidden;
  @include box-sizing(content-box);
  padding: 30px 5% 10px;
  margin-left: -5%;
}
.noscript-notice {
  line-height: 1.3em;
}

.iframe-responsive-container {

  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
