.thank-you {
  &__cta {
    font-size: 42px;
    font-weight: normal;
    margin: 20px 0 10px;
    
    @media(max-width: 450px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__thanks {

    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: $slate-gray;
 
    @media(max-width: 450px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.share-buttons {
  width: 100%;
  max-width: 300px;
  margin: 80px auto 0;
  overflow: hidden;

  @media(max-width: 400px) {
    width: 148px;
    margin-top: 55px;
  }

  &__button:first-of-type {
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-of-type {
      // when you're the first and the last, you're the only
      margin: 0 auto;
      float: none;
    }
  }
  &__alternative {
    margin: 0 auto;
    width: 100%;
    color: $chalkboard;
    text-transform: lowercase;
    overflow: hidden;
    line-height: 30px;
  }
  &__simple-email-link {
    display: inline;
    &.sp_em_small, &.sp_em_large, &.sp_tw_small, &.sp_tw_large, &.sp_fb_small, &.sp_fb_large {
      a {
        font-size: 1px;
        font-size: 0;
        display: inline;
        background: transparent;
        &::before {
          content: "Send Email";
          font-weight: bold;
          color: $chalkboard;
          font-size: 15px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
