{% comment %} Description: This is a generic, non-SOU specific template. {% endcomment %}
{% comment %} Experimental: true {% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">{{title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

      <div class="text">
        <!-- INSERT COMPONENTS BENEATH HERE -->

        <div class='gallery'>
         {% include 'Photos' %}
        </div>

        {% include 'Thermometer' %}

        <!-- DO NOT INSERT COMPONENTS BEYOND HERE -->
        <!-- MAIN CONTENT HERE -->

        {{content}}
      </div>
    </div>

    <div class="col-md-4">
      {% include 'Petition' %}
      {% include 'Share' %}
    </div>
  </div>
</div>
