<div class="example-assets"><!-- CSS namespace -->
  {% include 'Generic Header' %}

  <div class="primary-wrapper">
    <div class="primary-wrapper__main-section">
      <div class='main-section__header-image' style="background-image: url('{{ images[0].urls.large }}');">
      </div>
      <h1 class="main-section__title">{{title}}</h1>
      <div class="main-section__body">
        {{content}}
      </div>
    </div>
    <div class="primary-wrapper__sidebar-section petition-bar">
      {% include 'Petition' %}
    </div>
  </div>

  {% include 'Generic Footer' %}
</div>