defaults: &defaults
  ACTIONKIT_BASE_URL: 'actionkit_base_url'
  ACTIONKIT_USERNAME: 'actionkit_username'
  ACTIONKIT_PASSWORD: 'actionkit_password'

development:
  <<: *defaults

test:
  <<: *defaults
