<div class="overlay-toggle__mobile-ui">
  <div class="overlay-toggle__mobile-ui__bottom-bar">
    <button class="button overlay-toggle__open-button">{{ plugins.fundraiser[ref].title }}</button>
  </div>
</div>
