<div class="fundraiser-bar__mobile-ui">
  <div class="fundraiser-bar__mobile-ui__bottom-bar">
    <button class="button fundraiser-bar__open-button">{{ plugins.fundraiser[ref].title }}</button>
  </div>
</div>
