{% for link in link_list %}
  <div class="page-link">
    <a href="{{ link.url }}">{{ link.title }}</a>
    {% unless link.source == blank and link.date == blank %}
      <br />
    {% endunless %}
    {% unless link.source == blank %}
      {{ link.source }}.
    {% endunless %}
    {% unless link.date == blank %}
      {{ link.date | date: "%-d %B, %Y" }}.
    {% endunless %}
  </div>
{% endfor %}  
