<div class="overlay-toggle">
  <div class="overlay-toggle__mobile-view overlay-toggle__mobile-view--closed">
    <div class="fundraiser-bar__content">
      <div id="recommend-pages-component" class="fundraiser-bar {{ extra_class }} {% if freestanding %} fundraiser-bar--freestanding {% else %} sidebar stuck-right {% endif %}"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var global = window.champaign.personalization;
    var data = {
      locale: '{{locale}}',
      pageId: "{{ id }}"
    };

  window.setTimeout(function(){
    champaign.overlayToggle = new champaign.OverlayToggle();
    {% unless freestanding %}
    champaign.mySidebar = new champaign.Sidebar({petitionTextMinHeight: 162, baseClass: 'fundraiser-bar'});
    {% endunless %}
  }, 100);

   mountRecommendPages('recommend-pages-component', data);
  })
</script>
