<div class="header-logo header-logo--light">
  <a href="{{ 'footer.home_url' | t }}">
    <div class="header-logo__logo sumofus-logo--positive"></div>
  </a>
</div>

<div class="center-content center-content--share-and-donate">
  <div class="center-content__one-column">

    <div class="center-content__central-square">

      <div class="js-recurring-box">
        <h1 class='js-recurring-message'>
          I would like to upgrade my <span class='js-current'></span> monthly gift to
        </h1>
        <form class='js-recurring-form'>
          <span class='js-currency-symbol'>$</span>
          <input class='js-recurring-new-amount' type='text' />
          <span style='display: none;' class='error js-amount'>Please enter an amount greater than 1</span>
          <span style='display: none;' class='error js-problem'>We're sorry, but there was a problem upgrading your donation</span>
          <button type="submit" class="button">Update</button>
        </form>
      </div>
      <div class="js-recurring-thanks" style='display:none;'>
        <h2>Thanks!</h2>
      </div>
    </div>
  </div>
</div>

<style>
  input.js-recurring-new-amount {
    font-size: 2.6rem;
    border: 1px solid #999;
    width: 110px;
    padding: 3px;
    color: rgb(65, 65, 65);
    font-weight: bold;
  }

  form.js-recurring-form button {
    padding-top: 0;
    margin-top: 20px;
    width: 40%;
    margin: 20px auto;
  }

  form.js-recurring-form {
    margin-top: 10px;
    font-size: 2.6rem;
    font-weight: bold;
  }

  .error {
    font-size: 12px;
    display: block;
    color: #f8492e;
    margin-top: 20px;
  }
</style>

<script type="text/javascript">
  function post(data) {
    var options = {
      amount: parseInt(data.amount, 10),
      akid: data.akid
    };

    var handler = function(r) {
      window.location.href = "https://actions.sumofus.org/a/thanks-for-upgrading-your-monthly-gift/follow-up?akid="+data.akid;
    }

    var handleFailed = function(e) {
      console.log;
      $('.error').hide();
      $('.js-problem').show();
    }

    const url = "https://pk9wn19fnc.execute-api.us-east-1.amazonaws.com/dev/subscription/" + data.subscription_id + "/custom";

    $('button.button')
      .attr("disabled", "disabled")
      .text("Processing...");

    $.ajax(url, {
      data : JSON.stringify(options),
      crossDomain: true,
      contentType : 'application/json',
      type : 'POST',
    })
    .done(handler)
    .fail(handleFailed)
    .always( function() {
      $('button.button')
        .attr("disabled", false)
        .text("Update");
    })
  }

  var currencyToSymbol = {
    USD: '$',
    GBP: '£',
    EUR: '€'
  };

  $(function(){
    var data = window.champaign.personalization.urlParams;

    $('.js-recurring-message span.js-current').html(
      currencyToSymbol[data.currency] + data.amount
    );

    $('.js-currency-symbol').html(
      currencyToSymbol[data.currency]
    );

    var $field = $('.js-recurring-new-amount');

    $('form.js-recurring-form').on('submit', function(e){
      e.preventDefault();
      $val = $field.val();
      $val = parseInt($val, 10);

      if(isNaN($val)){
        $('.error').hide();
        $('.error.js-amount').show();
        $('button.button').attr("disabled", false);

      } else {
        post(Object.assign({}, data, {amount: $val}));
      }
    })
  });
</script>
