<div class="share-buttons">
  {% unless shares['facebook'] == blank %}
    <div class="share-buttons__button button--facebook {{ shares['facebook'] }}"></div>
  {% endunless %}

  {% unless shares['twitter'] == blank %}
    <div class="share-buttons__button button--twitter {{ shares['twitter'] }}"></div>
  {% endunless %}

  {% unless shares['email'] == blank %}
    <div class="share-buttons__alternative">
      Or <div class="share-buttons__simple-email-link {{ shares['email'] }}"></div>
    </div>
  {% endunless %}
</div>
