.SweetSelect .Select.has-error .Select-control {
  border-color: #f8492e;
}

.SweetSelect .Select.is-focused:not(.is-open) > .Select-control {
  border-color: #00c0cf;
}

.SweetSelect .Select.is-open > .Select-control {
  border-color: #00c0cf #00c0cf white #00c0cf;
}

.SweetSelect .Select > .Select-control,
.SweetSelect .Select.is-focused:not(.is-open) > .Select-control,
.SweetSelect .Select.is-open > .Select-control {
  border-width: 2px;
  box-shadow: none;
  outline: none;
}

.SweetSelect .Select-option.is-selected {
  background: white;
  color: #333;
}

.SweetSelect .Select-option.is-focused {
  background: #00c0cf;
  color: white;
}

.SweetSelect .Select-menu-outer {
  border-color: white #00c0cf #00c0cf #00c0cf;
  z-index: 200;
  border-width: 0 2px 2px 2px;
}

.SweetSelect .Select > .Select-control .Select-value,
.SweetSelect .Select > .Select-control {
  border-color: white;
  padding: 24px 18px 12px;
  border-width: 2px;
}

.SweetSelect .Select-input,
.SweetSelect .Select-value .Select-value-label {
  height: 21px;
  line-height: 21px;
  padding-left: 0;
  font-size: 18px;
  position: relative;
  top: -4px;
}

.SweetSelect .Select-input input,
.SweetSelect .Select-value .Select-value-label input {
  padding: 5px 0 0 0;
}

.SweetSelect .error-msg:empty {
  display: none;
}.Checkbox {
  margin: 10px 0 4px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.Checkbox__label {
  display: block;
  margin-left: 24px;
  display: inline;
  cursor: pointer;
}

.Checkbox__label input {
  position: absolute;
  left: 0;
  top: -3px;
  cursor: pointer;
  max-width: 16px;
  padding: 0;
}