.ConsentComponent {
  clear: both;
  padding-top: 1px;
}
.ConsentComponent--opt-in-reason {
  margin: 20px 0;
}

.ConsentComponent--prompt {
  margin-bottom: 15px;
}

.ConsentComponent--how-to-opt-out {
  margin-bottom: 15px;
}
