.Button-root {
  border: 2px solid #f8492e;
  background-color: #f8492e;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 6px;
  user-select: none;
  width: 100%;
  outline: none;
  .fa {
    margin-right: 6px;
    font-size: 20px;
  }
}

.Button-root.disabled,
.Button-root.disabled:hover,
.Button-root.disabled:active {
  border: 2px solid #d0d0d0;
  background-color: #d3d3d3;
  box-shadow: none;
}

.Button-root:hover {
  background-color: #f73415;
}

.Button-root:active {
  box-shadow: inset #d22207 0 3px 10px;
}
