{% if plugins.survey[ref].active %}
  {% include 'No Script' %}
  <div class="script-dependent">
    {% for form in plugins.survey[ref].forms %}
      {% capture cta %}{% if forloop.last == true %}Finish{% else %}Next{% endif %}{% endcapture %}

      {% include 'Survey Form',
        cta: cta,
        skip: 'Skip',
        last: forloop.last,
        form: form
      %}
    {% endfor %}
    
    <script type="text/javascript">
      $(document).ready(function(){
        window.champaign.mySurvey = new window.champaign.Survey({
          member:           window.champaign.personalization.member,
          location:         window.champaign.personalization.location,
          source:           window.champaign.personalization.urlParams.source,
          followUpUrl:      "{{ follow_up_url }}"
        });
      });
    </script>
  </div>
{% endif %}
