{% if plugins.survey[ref].active %}
  {% include 'No Script' %}
  <div class="script-dependent">
    {% for form in plugins.survey[ref].forms %}
      {% include 'Form',
        cta: 'Next',
        form_id: form.form_id,
        outstanding_fields: form.outstanding_fields,
        fields: form.fields %}
    {% endfor %}
  </div>

  <script type="text/javascript">
    // $(document).ready(function(){
    //   var sou = window.sumofus; // convenience binding
    //   sou.myActionForm  = new sou.ActionForm({
    //     member:           window.sumofus.personalization.member,
    //     outstandingFields:window.sumofus.personalization.outstandingFields,
    //     location:         window.sumofus.personalization.location,
    //     akid:             window.sumofus.personalization.urlParams.akid,
    //     source:           window.sumofus.personalization.urlParams.source,
    //     prefill:          true
    //   });

    //   sou.myPetition      = new sou.Petition({followUpUrl: "{{ follow_up_url }}"});
    // });
  </script>
{% endif %}
