{% if plugins.survey[ref].active %}
  {% include 'No Script' %}
  <div class="script-dependent">
    <div class="survey">
      {% for form in plugins.survey[ref].forms %}
        {% include 'Survey Form',
          cta: 'Next',
          skip: 'Skip',
          form: form
        %}
      {% endfor %}
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        window.champaign.mySurvey = new window.champaign.Survey({
          member:           window.sumofus.personalization.member,
          location:         window.sumofus.personalization.location,
          source:           window.sumofus.personalization.urlParams.source,
          followUpUrl:      "{{ follow_up_url }}"
        });
      });
    </script>
  </div>
{% endif %}
