@import "bootstrap-customization";
@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectize";
@import "selectize.bootstrap2";
@import "quill";
@import "quill/quill.snow";
@import "interactive";
@import "widget";
@import "common";
@import "pages";
@import "form_elements";
@import "forms";
@import "dropzone";
@import "codemirror";
@import "codemirror/themes/3024-night";
@import "typeahead";
@import "datatables/dataTables.bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "switch";

@import "page-edit";
@import "devise";


/* FIXME Decide what's needed below, and organise with files */
#petition_form {
    float: right;
}

#image_widget_image {
    width: 100%;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 20px;
}

.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
 
.petition_widget_form_container *.form-control {
  display:block;
}

.nested-block-form {
  display: block;
  width: 100%;
  height: 37px;
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}

#checkbox_container {
  display: block;
  min-height: 100px;
  overflow: auto;
}

#textarea_container {
  margin-top: 30px;
}


.custom-petition-label {
  width: 15%;
}

.form-control.custom-petition-input {
  width: 30%;
}

.text_body_widget_text_area {
  width: 100%;
  min-height: 300px;
}


.progress {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  height: 20px;
  text-align: center;
}

.widget-display {
  padding-left: 0;
  padding-right: 0;
}


