$page-edit-bar-color: #222;
$bootstrap-bg-gray: #f5f5f5;
$bootstrap-border-gray: #e3e3e3;

body.page-edit-body {
  position: relative;
  background-color: $page-edit-bar-color;
}

.page-edit-bar {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: $page-edit-bar-color;

  &__step-list {
    margin: 0;
    padding: 0;

    li {
      a {
        width: 100%;
        display: block;
        list-style: none;
        padding: 15px 15px;
        margin: 0;
        @include box-sizing(border-box);
        color: #ccc;
        @include transition(background-color 0.1s linear, color 0.1s linear);

        &:hover {
          background-color: black;
          text-decoration: none;
          color: #eee;
        }

        .fa {
          margin-right: 5px;
        }
      }
      &.active a {
        background-color: black;
        color: #eee;
      }
    }
  }

  $save-box-color: lighten($page-edit-bar-color, 10%);
  &__save-box {
    position: absolute;
    bottom: 0;
    @include box-sizing(border-box);
    width: 100%;
    padding: 5px 15px;
    background: $save-box-color;
    text-align: center;

    &--has-error {
      background: maroon;
      .page-edit-bar__error-message {
        cursor: pointer;
      }
      .page-edit-bar__btn-holder {
        background: maroon;
      }
    }
    &--success {
      background: darkgreen;
    }
  }

  &__btn-holder {
    width: 100%;
    position: absolute;
    top: -45px;
    left: 0;
    @include transition(top 0.1s ease-in-out);
    z-index: -1;
    padding-top: 10px;
    background-color: $save-box-color;
    &--hidden {
      top: 0;
    }
  }
  &__save-button {
    margin-bottom: 10px;
  }

  &__error-message {
    color: white;
    padding: 0 14px;
  }
  &__autosave-toggle {
    margin: 0 20px 6px;

    .btn-default {
      color: #666;
      background-color: #ddd;
    }
    .btn-primary {
      color: black;
      background-color: white;
      border-color: white;
      &:active {
        background-color: white;
      }
    }
  }
  &__autosave-title {
    color: #ccc;
  }
  &__last-saved {
    color: #ccc;
    font-size: 12px;
  }
}

.page-edit-step {
  width: 80%;
  float: right;
  background: white;
  padding: 100px 40px 40px;
  box-sizing: border-box;
  border-bottom: 50px solid $page-edit-bar-color;
  margin: 0;
  position: relative;

  &:last-of-type {
    border-bottom: none;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    background-color: $bootstrap-bg-gray;
    width: 100%;
    padding: 20px 40px 15px;
    border-bottom: 1px solid $bootstrap-border-gray;

    text-align: left;
    color: $page-edit-bar-color;
    font-size: 30px;
  }

  .two-ninths.form-group {
    width: 21%;
    margin-right: 1%;
    float: left;
    input {
      width: 100%;
    }
  }
  .one-ninth.form-group {
    width: 12%;
    float: left;
    input {
      width: 100%;
    }
  }}

.dropzone {
  border-style: dashed;
  background-color: $bootstrap-bg-gray;
  border-color: $bootstrap-border-gray;
  cursor: pointer;

  .dz-message {
    font-size: 20px;
    color: #999;
    margin: 10px 0;
  }

  .dz-preview.dz-image-preview, .dz-preview.dz-file-preview, .dz-preview {
    margin: 10px;
    background-color: transparent;
    max-width: 100px;
    max-height: 100px;
    &:hover {
      .dz-delete {
        display: block;
      }
    }
    .dz-image {
      height: 100px;
      width: 100px;
    }
    .dz-delete {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;

      width: 25px;
      height: 25px;
      border-radius: 12px;

      background-color: white;
      z-index: 100;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: maroon;
        .fa {
          color: white;
        }
      }
      .fa {
        line-height: 25px;
        cursor: pointer;
      }
    }
  }
}

[data-toggle="collapse"] {
  cursor: pointer;
  .fa {
    margin-right: 5px;
    @include transition(transform 0.4s linear);
  }
  &.open .fa {
    @include transform(rotate(90deg));
  }
}