$page-edit-bg-color: #222;

body.page-edit-body {
  position: relative;
  background-color: $page-edit-bg-color;
}

.page-edit-bar {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: $page-edit-bg-color;

  &__step-list {
    margin: 0;
    padding: 0;

    li {
      a {
        width: 100%;
        display: block;
        list-style: none;
        padding: 15px 15px;
        margin: 0;
        @include box-sizing(border-box);
        color: #ccc;
        @include transition(background-color 0.1s linear, color 0.1s linear);

        &:hover {
          background-color: black;
          text-decoration: none;
          color: #eee;
        }

        .fa {
          margin-right: 5px;
        }
      }
      &.active a {
        background-color: black;
        color: #eee;
      }
    }
  }

  &__save-box {
    $save-box-color: lighten($page-edit-bg-color, 10%);
    position: absolute;
    bottom: 0;
    @include box-sizing(border-box);
    width: 100%;
    min-height: 100px;
    padding: 15px;
    background: $save-box-color;
    text-align: center;

    @include transition(background 1s ease-out);
    &--has-error {
      @include transition(background 0s ease-out);
      background: maroon;
      .page-edit-bar__message {
        cursor: pointer;
      }
    }
    &--success {
      @include transition(background 0s ease-out);
      background: darkgreen;
    }
  }

  &__save-button {
    margin-bottom: 10px;
  }

  &__message {
    color: white;
    padding: 0 14px;
  }
  &__autosave-toggle {
    margin: 0 20px 10px;

    .btn-default {
      color: #666;
      background-color: #ddd;
    }
    .btn-primary {
      color: black;
      background-color: white;
      border-color: white;
    }
  }
  &__autosave-title {
    color: #ccc;
  }
}

.page-edit-step {
  width: 80%;
  float: right;
  background: white;
  padding: 40px;
  box-sizing: border-box;
  border-bottom: 50px solid $page-edit-bg-color;
  margin: 0;
  &:last-of-type {
    border-bottom: none;
  }
}