{% if plugins.call_tool[ref].active %}
  <div id='call-tool-component'></div>

  <script>
    $(document).ready(function() {
      mountCallTool(
        'call-tool-component',
        window.champaign.personalization.callTool['{{ref}}']
      );
    });
  </script>
{% endif %}
