{% if plugins.call_tool[ref].active %}
  <div id='call-tool-component'></div>

  <script>
    $(document).ready(function() {
      var data = _.clone(window.champaign.personalization.callTool['{{ref}}']);
      data.trackingParams = _.pick(window.champaign.personalization.urlParams,
                                   'source', 'akid', 'referring_akid',
                                   'referrer_id', 'rid', 'bucket');
      data.countryCode = window.champaign.personalization.member.country;
      data.onSuccess = function(selectedTarget) {
        var followUpUrl = window.URI("{{ follow_up_url }}");
        followUpUrl.addQuery({
          'target[name]': selectedTarget.name,
          'target[title]': selectedTarget.title
        });
        window.location.href = followUpUrl.toString();
      };

      mountCallTool('call-tool-component', data);
    });
  </script>
{% endif %}
