<div class="modal fade" id='share-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share this petition</h4>
      </div>
      <div class="modal-body">
        {% if shares.facebook %}
          {{ shares.facebook }}
        {% endif %}

        {% if shares.twitter %}
          {{ shares.twitter }}
        {% endif %}

        {% if shares.email %}
          {{ shares.email }}
        {% endif %}
      </div>
    </div>
  </div>
</div>


