.ConsentControls {
  position: relative;
}

.ConsentControls.warning {
  border: 1px solid rgb(223, 184, 84);
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.ConsentControls.warning .notice {
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(136, 133, 113);
}

.ConsentControls .notice {
  display: none;
}

.ConsentControls.warning .notice {
  display: block;
}

.ConsentControls label {
  display: block;
  margin-right: 30px;
  margin-bottom: 10px;
  font-size: 85%;
  clear: left;
}
.ConsentControls input[type='radio']:focus {
  box-shadow: 0 1px 8px 2px #00c0cf;
}

.simple .ConsentControls input[type='radio'] {
  float: left;
  display: block;
  background: transparent;
}

.simple .ConsentControls label span {
  display: block;
  margin-left: 30px;
}

/* Selectable Buttons variant */
.selectable-buttons .ConsentControls input[type='radio'] {
  display: none;
}
.selectable-buttons .ConsentControls label {
  display: block;
  background: white;
  border: 1px solid #f73415;
  margin: 15px 0 0 0;
  padding: 10px 5px 10px 10px;
  cursor: pointer;
}

.selectable-buttons .ConsentControls label:hover,
.selectable-buttons .ConsentControls label.active {
  background: #f73415;
  color: white;
}
