.BraintreeCardFields {
  display: none;
  &--active {
    display: block;
  }
}

#braintree-hosted-fields-form {
  max-width: 100%;
  min-width: 100%;
}

.BraintreeCardFields__hosted-field {
  flex-grow: 1;
  height: 60px;
  box-sizing: border-box;
  padding: 15px;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  line-height: 20px;
  background: #fff;
  margin-bottom: 2px;
  transition: all 300ms ease-in-out;
  border-color: white;
}

.BraintreeCardFields__row {
  display: flex;
}

.BraintreeCardFields__card-number {
  width: 100%;
}

.BraintreeCardFields__cvv {
  margin-right: 3px;
}

.BraintreeCardFields__expiration-date {
  flex-grow: 1;
  margin-left: 3px;
}

.braintree-hosted-fields-focused {
  border: 1px solid #64d18a;
  background-position: left bottom;
}

.braintree-hosted-fields-invalid {
  border: 1px solid #ed574a;
}
